# ignore SASS cache and map files
.sass-cache
*.css.map

# Bower & Grunt files
bower_components/
node_modules/
dist/
*.log

# All uploads files, except empty index file
uploads/
!uploads/index.html

# All CSV files to upload
csv/
exports/

# Config file
config.ini

# Documentation dir
doc/
Doxyfile

# Transfert files
transfert-*

# Composer files
vendor/

# Composer
composer.phar
/vendor/
