@charset "UTF-8";

/*
 *
 *	Feuille de style dédiée à l'affichage de l'administration du service en ligne LeQG
 *	développé par Damien Senger ( www.damiensenger.me )
 *	au sein de la société MSG SAS
 *
 */

/************************************
 *									*
 *			ADMINISTRATION			* 
 *									*
 ************************************/

section#administration {
	position: absolute; top: 0; left: 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 60px 0 0;
	height: 100%;
	width: 100%;
	
	h2 {
		display: block;
		font-family: $fonts1;
		font-size: 2em;
		font-weight: 300;
		margin: 2em auto 1em auto;
		text-align: center;
	}
	
	ul.listeUtilisateurs {
		display: block;
		list-style: none;
		margin: 0 auto;
		text-align: center;
		width: 85%;
		
		& > li {
			display: inline-block;
			margin: 0 1em 3em;
			vertical-align: top;
			width: 250px;
			
			img,
			.avatar {
				position: relative;
				display: block;
				color: $blanc;
				@include border-radius(.66em);
				content: '\e80a';
				font-family: $icons;
				font-size: 50px;
				height: 100px;
				line-height: 100px;
				margin: 0 auto;
				opacity: 1;
				text-align: center;
				width: 100px;
				@include transition(all);
			}
			
			img { background-color: $grisMoyen; }
			.avatar { background-color: $gris; }
			
			h3 {
				border: 0;
				color: $noir;
				font-size: 1.33em;
				font-weight: 700;
				line-height: 1.5em;
				margin: .75em 0 .15em;
				padding: 0;
			}
			
			&#ajoutCompte { cursor: pointer; }
			&#ajoutCompte:hover .avatar { background-color: $vert; }
			
			p {
				color: $grisMoyen;
				font-size: .85em;
				font-weight: 500;
				letter-spacing: .066em;
				line-height: 1.5em;
				margin: 0 0 .5em 0;
				padding: 0;
				text-transform: uppercase;
			}
			
			.ouvrirMenu {
				color: $orange;
				font-size: 1em;
				font-weight: 400;
				letter-spacing: .066em;
				padding: 0 .25em;
				text-decoration: none;
				
				&:hover {
					color: $rouge;
				}
				
				&::after {
					display: inline;
					content: '\e877';
					font-family: $icons;
					font-size: 1em;
					padding: 0 0 0 .33em;
				}
				
				&.actif {
					&::after {
						content: '\e87a';
					}
					
					& + ul.menuContextuel { display: block; }
				}
			}
			
			ul.menuContextuel {
				display: none;
				border: 1px solid $gris;
				@include border-radius(.33em);
				list-style: none;
				margin: .33em auto 0;
				padding: 0;
				text-align: left;
				width: 150px;
				
				& > a { 
					color: $grisFonce;
					text-decoration: none;
				}
				
				li {
					display: block;
					letter-spacing: .025em;
					padding: .33em .5em;
					
					&:hover { background-color: rgba($bleu, .05); }
					&.supprimer { color: $rouge; }
				}
			}
		}
	}
	
	
	.overlayForm {
		position: absolute; top: 0; left: 0;
		display: none;
		background-color: rgba($blanc, .66);
		height: 100%;
		padding-top: 120px;
		padding-top: calc(60px + 3em);
		width: 100%;
		
		form {
			position: relative;
			display: block;
			background-color: $blanc;
			@include border-radius(.5em);
			@include shadow(0, 0, 3em, $gris);
			margin: 0 auto;
			padding: 0 0 2em;
			vertical-align: middle;
			width: 450px;
		
			.fermetureOverlay {
				position: absolute; top: .5em; right: .5em;
				display: block;
				background-color: $blanc;
				@include border-radius(.33em);
				color: $gris;
				font-family: $icons;
				font-size: 20px;
				height: 25px;
				line-height: 25px;
				text-align: center;
				text-decoration: none;
				width: 25px;
				@include transition(all);
				
				&:hover {
					background-color: $gris;
					color: $blanc;
				}
			}
			
			h3 {
				border: 0;
				font-family: $fonts1;
				font-size: 1.5em;
				font-weight: 500;
				text-align: center;
			}
			
			ul {
				display: block;
				list-style: none;
				margin: 0 auto;
				padding: 0;
				width: 85%;
				
				li {
					padding: .53em 0 .85em;
				
					label {
						display: block;
						color: $grisMoyen;
						font-size: 1em;
						line-height: 1.5em;
						padding: 0 0 .33em .33em;
						text-transform: uppercase;
					}
					
					input {
						display: block;
						//background-color: lighten($gris, 16%);
						border: 1px solid $gris;
						@include border-radius(.33em);
						font-family: $fonts1;
						font-size: 1.33em;
						font-weight: 400;
						padding: .33em 1em .33em .5em;
						
						&[type='radio'] {
							display: inline-block;
							margin: 0 .5em 0 1em;
						}
						
						&[type='submit'] {
							background-color: $blanc;
							color: $grisMoyen;
							font-weight: 500;
							width: 100%;
							@include transition(all);
							
							&:hover {
								color: $noir;
								border-color: $vert;
							}
						}
					}
					
					.radio {
						color: $grisMoyen;
						letter-spacing: .05em;
						padding: .15em 0 .15em 0;
						
						input[type='radio'] {
							display: none;
						}
						
						label {
							display: block;
							cursor: pointer;
							
							& > span {
								display: inline-block;
								border: 1px solid $gris;
								@include border-radius(.33em);
								height: 15px;
								margin: 0 1em;
								vertical-align: sub;
								width: 15px;
								
								& > span {
									display: block;
									background-color: $blanc;
									@include border-radius(.15em);
									height: 9px;
									margin: 2px;
									width: 9px;
								}
							}
						}
						
						input[type='radio']:checked + label {
							color: $noir;
							font-weight: 700;
							
							& > span > span { background-color: $grisFonce; }
						}
					}
				}
			}
		}
	}
}

section#timeline-usr {
	position: absolute; top: 0; left: 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 60px 0 0;
	height: 100%;
	width: 100%;
	
	h2 {
		display: block;
		font-family: $fonts1;
		font-size: 2em;
		font-weight: 300;
		margin: 2em auto 1em auto;
		text-align: center;
	}
	
	ul.timelineHistorique {
		border-left: 6px solid $rouge;
		list-style: none;
		margin: 0 auto;
		padding: 0;
		width: 65%;
		
		& > li {
			position: relative;
			min-height: 75px;
			margin: 0 auto 2.5em auto;
			padding: 4px 0 0 40px;
			
			&.fin,
			&.suite {
				height: 50px;
				min-height: 50px;
			}
			
			&::before {
				position: absolute; top: 0px; left: -34px;
				display: block;
				background-color: $bleu;
				border: 6px solid $blanc;
				@include border-radius(.66em);
				color: $blanc;
				content: '\e837';
				font-family: $icons;
				font-size: 25px;
				height: 50px;
				line-height: 50px;
				text-align: center;
				width: 50px;
			}
			
			$icon-names: (fin '\e898') (suite '\e8f7') (connexion '\e86c') (contact '\e80b') (telephone '\e854') (email '\e8e3') (courrier '\e805') (autre '\e8dd') (sms '\e8e4') (courriel '\e8e3') (porte '\e841') (boite '\e84e') (rappel '\e854') (poste '\e8ef');
			@each $icon-name in $icon-names {
				&.#{nth($icon-name, 1)}::before {
					content: nth($icon-name, 2);
				}
			}
			
			strong {
				display: block;
				color: $bleu;
				font-size: 2em;
				font-weight: 700;
				line-height: 50px;
				overflow-x: scroll;
				overflow-y: hidden;
			}
			
			& > ul {
				list-style: none;
				margin: 0;
				padding: 0;
				
				& > li {
					font-size: 1.2em;
					font-weight: 400;
					letter-spacing: 0.05em;
					padding: .15em 0 .33em;
					
					&::before {
						display: inline-block;
						color: $grisFonce;
						font-family: $icons;
						text-align: center;
						width: 30px;
					}
					
					$icon-names: (date '\e862') (contact '\e840');
					@each $icon-name in $icon-names {
						&.#{nth($icon-name, 1)}::before {
							content: nth($icon-name, 2);
						}
					}
					
					& > a { text-decoration: underline; }
					& > a:hover { color: $rouge; }
				}
			}
		}
	}
}