@charset "UTF-8";

/*
 *
 *	Feuille de style dédiée à l'affichage des fiches contacts du service en ligne LeQG
 *	développé par Damien Senger ( www.damiensenger.me )
 *	au sein de la société MSG SAS
 *
 */



/************************************
 *									*
 *			   CONTACTS				* 
 *									*
 ************************************/

section#contacts {
	#enteteTableau {
		margin: 15px auto 0;
		width: 90%;
		
		h2 {
			display: block;
			font-weight: 300;
			text-align: center;
		}
		
		nav.boutonsAction {
			display: block;
			margin: 1em auto;
			text-align: center;
			
			a {
				display: inline-block;
				border: 1px solid $gris;
				@include border-radius(.2em);
				color: $grisMoyen;
				font-size: 1.15em;
				font-weight: 400;
				margin: 0 .33em;
				padding: .33em 1em .33em;
				text-decoration: none;
				
				&:hover {
					border-color: $vert;
					color: $bleu;
					font-weight: 500;
				}
			}
		}
		
		#criteres {
			display: block;
			margin: 2em auto;
			text-align: center;
			
			.tag {
				color: $grisMoyen;
				font-size: 1.1em;
				
				&::before {
					color: $grisMoyen;
				}
				
				&.interactif:hover,
				&.interactif:hover::before {
					color: $rouge;
				}
			}
		}
	}
}