@charset "UTF-8";

/*
 *
 *	Feuille de style dédiée à l'affichage du système d'export du service en ligne LeQG
 *	développé par Damien Senger ( www.damiensenger.me )
 *	au sein de la société MSG SAS
 *
 */

/************************************
 *									*
 *			    EXPORT				* 
 *									*
 ************************************/

#calcul {
	position: absolute; top: 0; left: 0;
	display: table;
	background-color: rgba($blanc, .85);
	height: 100%;
	pointer-events: none;
	width: 100%;
	
	& > p {
		display: table-cell;
		font-size: 2.5em;
		font-weight: 300;
		text-align: center;
		vertical-align: middle;
		
		& > span {
			display: block;
			color: $bleu;
			font-family: $icons;
			font-size: 85px;
			height: 150px;
			line-height: 150px;
			margin: 0 auto .33em auto;
			width: 150px;
			
			& > span {
				display: block;
				@include animation(rotfocus 3s linear infinite);
			}
		}
	}
}


#exportation-lancee {
	position: absolute; top: 200px; left: 50%;
	display: none;
	background-color: rgba($vert, .95);
	@include shadow(0, 0, 25px, $gris);
	color: $bleu;
	font-family: $fonts2;
	font-size: 1.15em;
	font-weight: 500;
	margin-left: -300px;
	padding: 1em 1em .75em;
	text-align: center;
	width: 600px;
	z-index: 1500;
}