@charset "UTF-8";

/*
 *
 *	Feuille de style dédiée à l'affichage des fiches contacts du service en ligne LeQG
 *	développé par Damien Senger ( www.damiensenger.me )
 *	au sein de la société MSG SAS
 *
 */



/************************************
 *									*
 *			  	FICHES				* 
 *									*
 ************************************/

#fiche {
	width: 50%;
	
	header {
		position: relative;
		display: table;
		height: 200px;
		margin-left: 25%;
		padding-left: 25px;
		width: 100%;
		
		@media all and (max-width: 1500px) {
			margin-left: 35%;
		}
		
		&::before {
			position: absolute; top: 38px; left: -150px;
			display: block;
			background: $bleu;
			@include border-radius(.5em);
			color: $blanc;
			content: '\e80a';
			font-family: $icons;
			font-size: 75px;
			height: 125px;
			line-height: 125px;
			text-align: center;
			width: 125px;
		}
		
		&.ville::before { content: '\e844'; }
		&.rue::before { content: '\e841'; }
		&.immeuble::before { content: '\e842'; }
		&.export::before { content: '\e90b'; }
		&.dossier::before { content: '\e850'; }
		&.bureau::before { content: '\e821'; }
		
		#config-icon {
			position: absolute; top: 135px; left: -50px;
			display: block;
			background-color: $bleu;
			border: 4px solid $blanc;
			@include border-radius(50%);
			color: $blanc;
			font-family: $icons;
			font-size: 20px;
			height: 38px;
			line-height: 30px;
			padding-left: 1px;
			text-align: center;
			width: 38px;
			
			&:hover {
				background-color: $rouge;
			}
		}
	}
	
	nav.actions {
		position: absolute; top: 65px; right: 1em;
		
		& > a.icone {
			display: inline-block;
			margin: 0 1em;
			
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
	
	p.adresse {
		text-transform: capitalize;
	}
}


nav.navigationFiches {
	position: relative;
	display: block;
	height: 2em;
	width: 100%;
	margin: 2em 2em -1em 2em;
	padding: 0;
	
	a {
		position: absolute; top: 0;
		border: 1px solid $bleu;
		@include border-radius(.66em);
		color: $bleu;
		font: 400 1.1em / 1.5em $fonts1;
		padding: .33em 1em;
		text-decoration: none;
		
		&::before {
			display: inline-block;
			font-family: $icons;
			width: 20px;
		}
		
		&.retour {
			left: 0;
			
			&::before { content: '\e884'; }
		
			&:hover {
				background-color: rgba($rouge, .05);
				border-color: $rouge;
				color: $bleu;
			}
		}
		
		&.modifier {
			left: 50%;
			left: calc(50% - 60px);
			
			&::before { content: '\e836'; }
			
			&:hover {
				background-color: rgba($orange, .05);
				border-color: $orange;
				color: $bleu;
			}
		}
		
		&.liste {
			left: 50%;
			left: calc(50% - 60px);
			
			&::before { content: '\e8dd'; }
			
			&:hover {
				background-color: rgba($vert, .1);
				border-color: $vert;
				color: $bleu;
			}
		}
	}
}


table#historique-contact {
	thead tr th:last-of-type {
		position: relative;
	}
	
	tbody tr td {
		text-align: center;
		width: 175px;
		
		@media all and (max-width: 1500px) {
			&:nth-of-type(2) {
				width: 115px;
			}
		}
	
		&:last-of-type {
			text-align: left;
			width: auto;
		}
	}
	
	.add-historique {
		position: absolute; top: .45em; right: 10px;
		display: block;
		background: $rouge;
		@include border-radius(50%);
		color: $blanc;
		cursor: pointer;
		font-family: $icons;
		font-size: .85em;
		height: 20px;
		line-height: 20px;
		opacity: .66;
		text-align: center;
		text-decoration: none;
		width: 20px;
		@include transition(all);
		
		&::before {
			position: absolute; top: -4px; right: 30px;
			display: block;
			background: $bleu;
			@include border-radius(.5em);
			color: $blanc;
			content: 'Ajouter\00A0 une\00A0 entr\E9 e';
			font-family: $fonts1;
			opacity: 0;
			padding: .4em .66em;
			text-align: right;
			width: auto;
			z-index: 500;
			@include transition(all);
		}
		
		&:hover, 
		&:hover::before {
			opacity: 1;
		}
	}
}



/************************************
 *									*
 *			PREMIER CONTACT			* 
 *									*
 ************************************/

aside.ficheContact {
	display: table;
	
	#premierContact {
		display: table-cell;
		height: 100%;
		text-align: center;
		vertical-align: middle;
		width: 100%;
		
		#ajoutInteraction {
			color: $bleu;
			cursor: pointer;
			font-size: 2em;
			font-weight: 300;
			
			&:before {
				display: block;
				background-color: $bleu;
				@include border-radius(50%);
				color: $blanc;
				content: '\e851';
				font-family: $icons;
				font-size: 75px;
				height: 150px;
				line-height: 150px;
				margin: 25px auto;
				width: 150px;
			}
		}
	}
}



/************************************
 *									*
 *		   CREATIONS RAPIDES			* 
 *									*
 ************************************/

ul#creationsRapides {
	font-size: 1.2em;
	text-align: center;
	
	a {
		color: inherit;
		text-decoration: none;
		
		&:hover {
			color: $rouge;
		}
	}
	
	li {
		position: relative;
		display: inline-block;
		height: 150px;
		padding-top: 85px;
		width: 150px;
		@include transition(all);
		
		&::before {
			position: absolute; top: 25px; left: 50px;
			display: block;
			background: $bleu;
			@include border-radius(50%);
			color: $blanc;
			font-family: $icons;
			font-size: 20px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			width: 50px;
			@include transition(all);
		}
		
		&:hover::before {
			background-color: $rouge;
		}
		
		&.creationFiche::before { content: '\e80c'; }
		&.creationDossier::before { content: '\e851'; }
	}
}