@charset "UTF-8";

/*
 *
 *	Feuille de style dédiée à l'affichage des fiches contacts du service en ligne LeQG
 *	développé par Damien Senger ( www.damiensenger.me )
 *	au sein de la société MSG SAS
 *
 */



/************************************
 *									*
 *			  	FICHES				* 
 *									*
 ************************************/

#fiche {
	width: 50%;
	
	header {
		position: relative;
		display: table;
		height: 200px;
		margin-left: 25%;
		padding-left: 25px;
		width: auto;
		
		@media all and (max-width: 1500px) {
			margin-left: 35%;
		}
		
		&::before {
			position: absolute; top: 38px; left: -150px;
			display: block;
			background: $bleu;
			@include border-radius(.5em);
			@include shadow(0, 4px, 0, $gris);
			color: $blanc;
			content: '\e80a';
			font-family: $icons;
			font-size: 75px;
			height: 125px;
			line-height: 125px;
			text-align: center;
			width: 125px;
		}
		
		&.ville::before { content: '\e844'; }
		&.rue::before { content: '\e841'; }
		&.immeuble::before { content: '\e842'; }
		&.export::before { content: '\e90b'; }
		&.dossier::before { content: '\e850'; }
		&.bureau::before { content: '\e821'; }
		&.sms::before { content: '\e8e4'; }
		&.email::before { content: '\e805'; }
		&.historique::before { content: '\e8dd'; }
		&.reglages::before { content: '\e856'; }
		&.poste::before { content: '\e8ef'; }
		&.fusion::before { content: '\e911'; }
		
		#config-icon {
			position: absolute; top: 135px; left: -50px;
			display: block;
			background-color: $bleu;
			border: 4px solid $blanc;
			@include border-radius(50%);
			color: $blanc;
			font-family: $icons;
			font-size: 20px;
			height: 38px;
			line-height: 30px;
			padding-left: 1px;
			text-align: center;
			width: 38px;
			
			&:hover {
				background-color: $rouge;
			}
		}
	}
	
	nav.actions {
		position: absolute; top: 15px; right: 1em;
		
		& > a.icone {
			display: inline-block;
			margin: 0 .33em;
			
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
	
	p.adresse {
		text-transform: capitalize;
	}
}


nav.navigationFiches {
	position: relative;
	display: block;
	height: 2em;
	width: 100%;
	margin: 2em 2em -1em 2em;
	padding: 0;
	
	a {
		position: absolute; top: 0;
		border: 1px solid $bleu;
		@include border-radius(.66em);
		color: $bleu;
		font: 400 1.1em / 1.5em $fonts1;
		padding: .33em 1em;
		text-decoration: none;
		
		&::before {
			display: inline-block;
			font-family: $icons;
			width: 20px;
		}
		
		&.retour {
			left: 0;
			
			&::before { content: '\e884'; }
		
			&:hover {
				background-color: rgba($rouge, .05);
				border-color: $rouge;
				color: $bleu;
			}
		}
		
		&.modifier {
			left: 50%;
			left: calc(50% - 60px);
			
			&::before { content: '\e836'; }
			
			&:hover {
				background-color: rgba($orange, .05);
				border-color: $orange;
				color: $bleu;
			}
		}
		
		&.liste {
			left: 50%;
			left: calc(50% - 80px);
			
			&::before { content: '\e8dd'; }
			
			&:hover {
				background-color: rgba($vert, .1);
				border-color: $vert;
				color: $bleu;
			}
		}
	}
}


table#historique-contact {
	thead tr th:last-of-type {
		position: relative;
	}
	
	tbody tr td {
		text-align: center;
		width: 175px;
		
		@media all and (max-width: 1500px) {
			&:nth-of-type(2) {
				width: 115px;
			}
		}
	
		&:last-of-type {
			text-align: left;
			width: auto;
		}
	}
	
	.add-historique {
		position: absolute; top: .45em; right: 10px;
		display: block;
		background: $rouge;
		@include border-radius(50%);
		color: $blanc;
		cursor: pointer;
		font-family: $icons;
		font-size: .85em;
		height: 20px;
		line-height: 20px;
		opacity: .66;
		text-align: center;
		text-decoration: none;
		width: 20px;
		@include transition(all);
		
		&::before {
			position: absolute; top: -4px; right: 30px;
			display: block;
			background: $bleu;
			@include border-radius(.5em);
			color: $blanc;
			content: 'Ajouter\00A0 une\00A0 entr\E9 e';
			font-family: $fonts1;
			opacity: 0;
			padding: .4em .66em;
			text-align: right;
			width: auto;
			z-index: 500;
			@include transition(all);
		}
		
		&:hover, 
		&:hover::before {
			opacity: 1;
		}
	}
}



/************************************
 *									*
 *			PREMIER CONTACT			* 
 *									*
 ************************************/

aside.ficheContact {
	display: table;
	
	#premierContact {
		display: table-cell;
		height: 100%;
		text-align: center;
		vertical-align: middle;
		width: 100%;
		
		#ajoutInteraction {
			color: $bleu;
			cursor: pointer;
			font-size: 2em;
			font-weight: 300;
			
			&:before {
				display: block;
				background-color: $bleu;
				@include border-radius(50%);
				color: $blanc;
				content: '\e851';
				font-family: $icons;
				font-size: 75px;
				height: 150px;
				line-height: 150px;
				margin: 25px auto;
				width: 150px;
			}
		}
	}
}



/************************************
 *									*
 *		   CREATIONS RAPIDES		* 
 *									*
 ************************************/

ul#creationsRapides {
	font-size: 1.2em;
	text-align: center;
	
	a {
		color: inherit;
		text-decoration: none;
		
		&:hover {
			color: $rouge;
		}
	}
	
	li {
		position: relative;
		display: inline-block;
		height: 150px;
		padding-top: 85px;
		width: 150px;
		@include transition(all);
		
		&::before {
			position: absolute; top: 25px; left: 50px;
			display: block;
			background: $bleu;
			@include border-radius(50%);
			color: $blanc;
			font-family: $icons;
			font-size: 20px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			width: 50px;
			@include transition(all);
		}
		
		&:hover::before {
			background-color: $rouge;
		}
		
		&.creationFiche::before { content: '\e80c'; }
		&.creationDossier::before { content: '\e851'; }
		&.fusionFiches::before { content: '\e912'; }
	}
}



.listeTags {
	.tag {
		display: inline-block;
		border: 1px solid $gris;
		@include border-radius(.5em);
		color: $bleu;
		cursor: default;
		font-size: 1em;
		line-height: 1.5em;
		margin: .4em 1em .5em 0;
		padding: .05em 1em;
		@include transition(all);
		
		&::before {
			display: inline-block;
			color: $bleu;
			font-family: $icons;
			font-size: .85em;
			content: '\e827';
			padding-right: .66em;
			width: 1em;
			@include transition(all);
		}
		
		&.interactif:hover {
			border-color: $rouge;
			color: $rouge;
			cursor: pointer;
			text-decoration: line-through;
			
			&::before {
				color: $rouge;
				content: '\e847';
			}
		}
	}
	
	#tagAjout {
		display: inline-block;
		border: 1px solid $gris;
		@include border-radius(.33em);
		font-family: $fonts2;
		font-size: .86em;
		margin: 0 1em .5em .5em;
		padding: .1em .85em;
		width: 200px;
	}
	
	#formulaireTag {
		display: none;
	}
	
	#ajouterTag,
	#validerTag {
		display: inline-block;
		@include border-radius(50%);
		color: $blanc;
		cursor: pointer;
		font-family: $icons;
		font-size: .85em;
		height: 1.5em;
		line-height: 1.5em;
		margin: 0 1em 0 0;
		text-align: center;
		width: 1.5em;
	}
	
	#ajouterTag {
		background-color: $rouge;
	}
	
	#validerTag {
		background-color: $vert;
		@include border-radius(50%);
		margin-left: -.5em;
	}
}



/************************************
 *									*
 *				FUSION				* 
 *									*
 ************************************/

#goFusion {
	margin: 2em 0 0;
	text-align: center;
	
	a.bouton {
		background-color: $bleu;
		border: 0;
		color: $blanc;
		font-size: 1.33em;
		font-weight: 400;
		line-height: 1.5em;
		padding: .5em 1em .33em;
		text-decoration: none;
	}
}

table.fusion {
	border: 0;
	margin: 1em auto 0;
	padding: 0;
	table-layout: fixed;
	width: 85%;
	
	thead {
		background-color: $bleu;
		border: 0;
		color: $blanc;
		font-variant: small-caps;
		letter-spacing: .15em;
		
		tr {
			border: 1px solid $bleu;
			
			th {
				border: 0;
		
				&:nth-of-type(2) {
					border-left: 1px solid $blanc;
					border-right: 1px solid $blanc;
					font-family: $icons;
					font-size: 1.33em;
					font-weight: 400;
					text-align: center;
					width: 50px;
				}
			}
		}
	}
	
	tbody {
		tr {
			td {
				position: relative;
				font-size: 1.25em;
				line-height: 30px;
				padding: 10px 2em 10px 50px;
				vertical-align: top;
				
				&::before {
					position: absolute; top: 10px; left: 0;
					font-family: $icons;
					font-size: 20px;
					height: 30px;
					line-height: 30px;
					text-align: center;
					width: 50px;
				}
				
				&.iconeCentre::before {
					top: calc(50% - 25px);
				}
				
				&.recherche::before { content: '\e803'; }
				&.resultats::before { content: '\e8dd'; }
				&.nom::before { content: '\e80a'; }
				&.adresse::before { content: '\e841'; }
				&.naissance::before { content: '\e85b'; }
				&.email::before { content: '\e805'; }
				&.fixe::before { content: '\e854'; }
				&.mobile::before { content: '\e8e4'; }
				
				input {
					border: 0;
					font-family: $fonts1;
					font-size: 20px;
					height: 50px;
				}
				
				em {
					color: $grisMoyen;
					font-style: italic;
					font-weight: 300;
				}
				
				&.merging {
					margin: 0;
					padding: 10px 0 0;
					text-align: center;
					
					span {
						display: inline-block;
						@include border-radius(50%);
						color: $blanc;
						font-family: $icons;
						font-size: 20px;
						height: 30px;
						line-height: 30px;
						pointer-events: none;
						text-align: center;
						width: 30px;
						
						&.egal { background-color: $vert; }
						&.inegal { background-color: $rouge; }
					}
				}
			}
		}
	}
}



/************************************
 *									*
 *			   CONTACTS				* 
 *									*
 ************************************/

section#contacts {
	height: 100%;

	& > div {
		display: inline-block;
		padding: 0 2.5%;
		vertical-align: top;
		width: 50%;
	
		
		h3 {
			display: block;
			font-family: $fonts1;
			font-size: 1.5em;
			font-weight: 300;
			margin: 0 auto 1em auto;
			text-align: center;
		}
	}
}

table#listeFiches {
	border: none;
	border-collapse: collapse;
	margin: 0 auto;
	//table-layout: fixed;
	width: 90%;
	
	tr,
	th,
	td {
		background: none;
		border: 0;
		height: 57px;
		text-align: left;
	}
	
	th,
	td {
		&:first-of-type {
			padding: 0 0 0 10px;
			text-align: center;
			width: 50px;
		}
		
		&:nth-of-type(3) {
			width: 250px;
		}
		
		&:nth-of-type(4) {
			width: 130px;
		}
		
		&:nth-of-type(5) {
			width: 130px;
		}
	}
	
	thead {
		border: none;
		border-bottom: 1px solid $noir;
		color: $bleu;
		font-size: 1.15em;
		font-weight: 600;
		
		th {
			background: $blanc;
			height: 40px;
			line-height: 40px;
			margin: 0;
		}
	}
	
	tbody {
	
		tr {
			&:nth-of-type(even) {
				background-color: rgba($rouge, .05);
			}
			
			td {
				a {
					color: $bleu;
					
					&:hover {
						color: $rouge;
					}
				}
			}
		}
	}
}