@charset "UTF-8";

/*
 *
 *	Feuille de style dédiée à l'affichage des formulaires du service en ligne LeQG
 *	développé par Damien Senger ( www.damiensenger.me )
 *	au sein de la société MSG SAS
 *
 */

/************************************
 *									*
 *			  	FORMS				* 
 *									*
 ************************************/

form {
	margin: 0;
	padding: 0;
}

input[type='text'],
input[type='email'],
input[type='phone'],
input[type='password'],
textarea {
	border: 0;
	border-bottom: 1px solid $bleu;
	border-left: 1px solid $bleu;
	font: 300 1.1em / 1.5em $fonts2;
	padding: .33em 1em;
	width: 100%;
	@include transition(all);
	
	&:hover {
		border-bottom-color: $orange;
		border-left-color: $orange;
	}
	
	&:focus {
		border-bottom-color: $rouge;
		border-left-color: $rouge;
	}
	
	&.vide {
		background-color: rgba($rouge, .05);
		border-bottom-color: $rouge;
		border-left-color: $rouge;
		color: $rouge;
		
		&:hover {
			border-bottom-color: $orange;
			border-left-color: $orange;
		}
		
		&:focus {
			background: none;
			color: $noir;
			
			&:hover {
				border-bottom-color: $rouge;
				border-left-color: $rouge;
			}
		}
	}
}

input[type="submit"],
button,
a.bouton {
	background-color: $blanc;
	border: 1px solid $bleu;
	@include border-radius(.25em);
	color: $bleu;
	cursor: pointer;
	font: 400 1.1em / 1.5em $fonts2;
	margin: 0 auto;
	padding: .33em 1em .25em 1em;
	width: auto;
	@include transition(all);
	
	&.boutonRouge {
		border: 1px solid $rouge;
	}
	
	&:hover {
		background-color: rgba($vert, .5);
		
		&.boutonJaune {
			background-color: rgba($orange, .33);
		}
		
		&.boutonRouge {
			background-color: rgba($rouge, .33);
		}
	}
	
	&.loupe {
		background-color: rgba($bleu, 0);
		border: 1px solid rgba($bleu, .5);
		@include border-radius(50%);
		color: $bleu;
		font-family: $icons;
		height: 30px;
		line-height: 20px;
		margin: 0;
		padding: 0;
		text-align: center;
		width: 30px;
		@include transition(all);
		
		&:hover {
			border: 1px solid rgba($bleu, 1);
		}
	}
	
	&.bouton {
		@media all and (max-width: 1500px) {
			padding: 0 1em;
		}
	}
}
	
input[type='file'] {
	display: none;
}

textarea {
	height: calc(1.5em * 7 + .66em);
	resize: none;
}



/************************************
 *									*
 *			BOUTON UPLOAD			* 
 *									*
 ************************************/

span.bouton-upload {
	border: 1px solid $bleu;
	@include border-radius(.66em);
	color: $bleu;
	font: 400 .85em / 1.5em $fonts1;
	margin-right: 1em;
	padding: .15em .66em;
	padding-left: .33em;
	text-decoration: none;
	
	&:hover {
		background-color: rgba($vert, .25);
		border-color: $vert;
		color: $bleu;
	}
	
	&::before {
		display: inline-block;
		font-family: $icons;
		content: '\e82d';
		text-align: center;
		width: 30px;
	}
}

span.upload-file {
	color: $grisMoyen;
	font-family: $fonts2;
	font-size: .85em;
}



/************************************
 *									*
 *			  SELECTBOX				* 
 *									*
 ************************************/
 
label.selectbox {
	position: relative;
	overflow: hidden;
	width: 100%;

	select {
		display: inline-block;
		@include appearance(none);
		border: none;
		@include border-radius(4px);
		background: $blanc;
		color: $noir;
		cursor: pointer;
		font: 300 1em / 1.5em $fonts2;
		margin: 0;
		margin-left: -.33em;
		margin-top: -.33em;
		outline: none;
		padding: 3px;
		padding-left: 0;
		width: 100%;
		
		@media screen and (-webkit-min-device-pixel-ratio: 0) {
			padding-right: 18px;
		}
	}
	
	&::after {
		position: absolute; top: -4px; right: 10px;
		background: $blanc;
		border: 1px solid $bleu;
		@include border-radius(50%);
		color: $grisFonce;
		content: '\e834';
		font-family: $icons;
		font-size: .85em;
		height: 25px;
		line-height: 23px;
		padding: 0;
		pointer-events: none;
		text-align: center;
		width: 25px;
		@include rotate(90deg);
		@include transition(all);
		
		@media (-webkit-min-device-pixel-ratio: 1.5),
				  (min--moz-device-pixel-ratio: 1.5),
					(-o-min-device-pixel-ratio: 3/2),
					   (min-device-pixel-ratio: 1.5),
					       (min-resolution: 1.5dppx) {
			top: 0;
		}
	}
	
	&:hover::after {
		background: $bleu;
		color: $blanc;
	}
	
	&::before {
		position: absolute; top: -8px; right: 0;
		display: block;
		background: $blanc;
		content: '';
		height: 35px;
		line-height: 35px;
		pointer-events: none;
		width: 35px;
		
		@media (-webkit-min-device-pixel-ratio: 1.5),
				  (min--moz-device-pixel-ratio: 1.5),
					(-o-min-device-pixel-ratio: 3/2),
					   (min-device-pixel-ratio: 1.5),
					       (min-resolution: 1.5dppx) {
			height: 45px;
		}
	}
}



/************************************
 *									*
 *		RECHERCHE DES FICHES			* 
 *									*
 ************************************/
 
[id^='recherche-'] {
	ul {
		position: relative;
		list-style: none;
		margin: 0;
		padding: 0 10px;
		padding-right: 30px;
		width: 100%;
		
		li {
			display: inline-block;
			width: 100%;
			
			&:last-of-type {
				position: absolute; top: 5px; right: 10px;
				display: block;
				text-align: right;
				width: 30px;
			}
			
			& > label {
				display: block;
				color: rgba($bleu, .85%);
				font-size: .85em;
				font-variant: small-caps;
				line-height: .75em;
				padding-left: 5px;
				margin-top: .5em;
			}
			
			input {
				font-family: $fonts2;
				font-size: 1.1em;
				line-height: 1.5em;
				margin-bottom: .66em;
				width: 98%;
				width: calc(100% - 20px);
				@include transition(all);
			}
		}
	}
}



/************************************
 *									*
 *			  FORM CENTRAL			* 
 *									*
 ************************************/
 
.central {
	margin: 0 auto;
	width: 900px;
}



ul.boutonsRadio {
	display: block;
	margin-bottom: .5em;
	margin-top: .33em;
	width: 100%;
	
	& li {
		display: inline-block;
		border: 0;
		line-height: 1.5em;
		margin: 0;
		min-height: 0;
		padding: 0;
		width: 33%;
	} 
}



/************************************
 *									*
 *			 BOUTON RADIO			* 
 *									*
 ************************************/
 
.radio {
	color: $grisMoyen;
	letter-spacing: .05em;
	padding: .15em 0 .15em 0;
	
	input[type='radio'],
	input[type='checkbox'] {
		display: none !important;
	}
	
	label {
		display: block;
		cursor: pointer;
		
		& > span {
			display: inline-block;
			border: 1px solid $gris;
			@include border-radius(.33em);
			height: 15px;
			margin: 0 1em;
			vertical-align: sub;
			width: 15px;
			
			& > span {
				display: block;
				background-color: $blanc;
				@include border-radius(.15em);
				height: 9px;
				margin: 2px;
				width: 9px;
			}
		}
	}
	
	input[type='checkbox']:checked + label,
	input[type='radio']:checked + label {
		color: $noir;
		font-weight: 700;
		
		& > span > span { background-color: $grisFonce; }
	}
	
	// Version checked ronde
	/*input[type='checkbox']:checked + label {
		color: $noir;
		font-weight: 700;
		
		& > span > span {
			background-color: $grisFonce;
			@include border-radius(45%);
		}
	}*/
	
	// Version checked standard
	/*input[type='checkbox']:checked + label {
		color: $noir;
		font-weight: 700;
		
		& > span > span {
			background-color: transparent;
			border-bottom: 3px solid $grisFonce;
			border-left: 3px solid $grisFonce;
			height: 6px;
			width: 9px;
			
			@include rotate(-45deg);
		}
	}*/
}



/************************************
 *									*
 *			 OVERLAY FORMS			* 
 *									*
 ************************************/
 
.overlayForm {
	position: absolute; top: 0; left: 0;
	display: none;
	background-color: rgba($blanc, .66);
	height: 100%;
	padding-top: 120px;
	padding-top: calc(60px + 3em);
	width: 100%;
	z-index: 1000;
	
	form {
		position: relative;
		display: block;
		background-color: $blanc;
		@include border-radius(.5em);
		@include shadow(0, 0, 3em, $gris);
		margin: 0 auto;
		padding: 0 0 2em;
		vertical-align: middle;
		width: 450px;
	
		.fermetureOverlay {
			position: absolute; top: .5em; right: .5em;
			display: block;
			background-color: $blanc;
			@include border-radius(.33em);
			color: $gris;
			font-family: $icons;
			font-size: 20px;
			height: 25px;
			line-height: 25px;
			text-align: center;
			text-decoration: none;
			width: 25px;
			@include transition(all);
			
			&:hover {
				background-color: $gris;
				color: $blanc;
			}
		}
		
		h3 {
			border: 0;
			font-family: $fonts1;
			font-size: 1.5em;
			font-weight: 500;
			text-align: center;
		}
		
		ul {
			display: block;
			list-style: none;
			margin: 0 auto;
			padding: 0;
			width: 85%;
			
			li {
				padding: .53em 0 .85em;
				
				&.detail-critere { display: none; }
			
				label {
					display: block;
					color: $grisMoyen;
					font-size: 1em;
					line-height: 1.5em;
					padding: 0 0 .33em .33em;
					text-transform: uppercase;
				}
				
				input {
					display: block;
					//background-color: lighten($gris, 16%);
					border: 1px solid $gris;
					@include border-radius(.33em);
					font-family: $fonts1;
					font-size: 1.33em;
					font-weight: 400;
					padding: .33em 1em .33em .5em;
					
					&[type='radio'] {
						display: none;
						margin: 0 .5em 0 1em;
					}
					
					&[type='submit'] {
						background-color: $blanc;
						color: $grisMoyen;
						font-weight: 500;
						width: 100%;
						@include transition(all);
						
						&:hover {
							color: $noir;
							border-color: $vert;
						}
					}
				}
			}
		}
	}
}
