@charset "UTF-8";

/*
 *
 *	Feuille de style dédiée à l'affichage des formulaires du service en ligne LeQG
 *	développé par Damien Senger ( www.damiensenger.me )
 *	au sein de la société MSG SAS
 *
 */

/************************************
 *									*
 *			  	FORMS				* 
 *									*
 ************************************/

form {
	margin: 0;
	padding: 0;
}

input[type='text'],
input[type='email'],
input[type='phone'],
input[type='password'] {
	border: 0;
	border-bottom: 1px solid $bleu;
	border-left: 1px solid $bleu;
	font: 300 1.1em / 1.5em $fonts2;
	padding: .33em 1em;
	width: 100%;
	@include transition(all);
	
	&:hover {
		border-bottom-color: $orange;
		border-left-color: $orange;
	}
	
	&:focus {
		border-bottom-color: $rouge;
		border-left-color: $rouge;
	}
	
	&.vide {
		background-color: rgba($rouge, .05);
		border-bottom-color: $rouge;
		border-left-color: $rouge;
		color: $rouge;
		
		&:hover {
			border-bottom-color: $orange;
			border-left-color: $orange;
		}
		
		&:focus {
			background: none;
			color: $noir;
			
			&:hover {
				border-bottom-color: $rouge;
				border-left-color: $rouge;
			}
		}
	}
}