@charset "UTF-8";

/*
 *
 *	Feuille de style dédiée au header du service en ligne LeQG
 *	développé par Damien Senger ( www.damiensenger.me )
 *	au sein de la société MSG SAS
 *
 */

/************************************
 *									*
 *			  	HEADER				* 
 *									*
 ************************************/

header#top {
	position: relative;
	background: $bleu;
	color: $blanc;
	font-size: 1em;
	height: 60px;
	padding: 0;
	width: 100%;
	z-index: 9999;
	
	#menu {
		position: absolute; top: 0; left: 0;
		display: inline-block;
		background-color: $bleu;
		color: $blanc;
		font-family: $fonts1;
		height: 60px;
		line-height: 60px;
		overflow: hidden;
		text-align: center;
		width: 60px;
		
		&::after {
			position: absolute; top: 0; left: 0;
			display: block;
			background-color: transparent;
			color: $blanc;
			content: '\e811';
			font-family: $icons;
			font-size: 35px;
			height: 60px;
			line-height: 60px;
			width: 60px;
			@include transition(all);
		}
		
		&:hover {
			background-color: rgba($blanc, .15);
		}
		
		&.actif::after {
			@include rotate(-90deg);
		}
	}
	
	& > h1 {
		position: absolute; top: 0; left: 60px;
		display: inline-block;
		height: 60px;
		line-height: 60px;
		margin: 0;
		padding: 0 0 0 15px;
		width: 200px;
	}
	
	& > a#notifications {
		position: absolute; top: 0; right: 0;
		display: block;
		color: $bleu;
		height: 60px;
		line-height: 60px;
		text-align: center;
		width: 60px;
		@include transition(all);
		
		&::before {
			position: absolute; top: 0; right: 0;
			display: block;
			color: $blanc;
			content: '\e83d';
			font-family: $icons;
			font-size: 25px;
			height: 60px;
			line-height: 60px;
			text-align: center;
			width: 60px;
			@include transition(all);
		}
		
		&:hover::before {
			background-color: rgba($blanc, .15);
		}
		
		& > span {
			position: absolute; top: 12px; right: 12px;
			display: block;
			background-color: $rouge;
			@include border-radius(50%);
			color: $blanc;
			font-size: 10px;
			height: 10px;
			width: 10px;
		}
	}
	
	& > a#recherche {
		position: absolute; top: 0; right: 60px;
		display: block;
		color: $bleu;
		height: 60px;
		line-height: 60px;
		text-align: center;
		width: 60px;
		@include transition(all);
		
		&::before {
			position: absolute; top: 0; right: 0;
			display: block;
			color: $blanc;
			content: '\e803';
			font-family: $icons;
			font-size: 25px;
			height: 60px;
			line-height: 60px;
			text-align: center;
			width: 60px;
			@include transition(all);
		}
		
		&:hover::before {
			background-color: rgba($blanc, .15);
		}
		
		&.fermer::before {
			content: '\e813';
		}
	}
	
	input[type='search'] {
		position: absolute; top: 0; right: 120px;
		display: block;
		background-color: rgba($blanc, .15);
		border: 0;
		color: $blanc;
		font-family: $fonts2;
		font-size: 20px;
		font-weight: 300;
		height: 60px;
		opacity: 0;
		padding: 0 75px 0 15px;
		pointer-events: none;
		line-height: 60px;
		width: 0;
	}
	
	input[type='submit'] {
		position: absolute; top: 10px; right: 130px;
		display: block;
		background-color: rgba($blanc, .5);
		color: $bleu;
		display: block;
		font-family: $icons;
		font-size: 20px;
		height: 40px;
		line-height: 38px;
		margin: 0;
		opacity: 0;
		padding: 0;
		pointer-events: none;
		text-align: center;
		width: 40px;
		@include transition(all);
		
		&:hover {
			background-color: rgba($blanc, 1);
			color: $bleu;
		}
	}
}