@charset "UTF-8";

/*
 *
 *	Feuille de style dédiée au sysètme de login du service en ligne LeQG
 *	développé par Damien Senger ( www.damiensenger.me )
 *	au sein de la société MSG SAS
 *
 */

/************************************
 *									*
 *			   	LOGIN				* 
 *									*
 ************************************/

main.login {
	background-color: $bleu;

	form {
		position: absolute; top: 15%; left: 50%;
		display: table;
		background: $blanc;
		@include border-radius(2em);
		@include shadow(0, 5px, 1px, $grisMoyen);
		color: $bleu;
		height: 310px;
		margin-left: -200px;
		padding-top: 1.33em;
		width: 400px;
		
		h1 {
			display: table-row;
			color: $bleu;
			cursor: default;
			font-family: $fonts1;
			font-size: 2em;
			margin: 0;
			padding: 0;
			text-align: center;
			@include transition(all);
			
			span:first-of-type {
				font-weight: 400;
			}
			
			span:last-of-type {
				color: $grisMoyen;
				font-weight: 300;
			}
			
			&:hover {
				color: $rouge;
			}
		}
		
		ul {
			display: table-cell;
			height: 100%;
			vertical-align: middle;
			width: 100%;
		}
		
		ul, ul li {
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: center;
			width: 100%;
		}
		
		ul li {
			& > label {
				display: block;
				font: 500 1.25em/1.8em $fonts1;
				margin: 0 auto;
				text-align: center;
				width: 80%;
				
				&:first-of-type {
					margin-top: 1em;
				}
			}
			
			input {
				display: block;
				background-color: rgba(236, 240, 241, 1);
				border: 3px solid rgba(127, 140, 141, 1);
				@include border-radius(.66em);
				font: 300 1.2em/1.5em $fonts1;
				margin: .33em auto 1.8em auto;
				outline: none;
				padding: .33em .66em;
				text-align: center;
				width: 80%;
				@include transition(all);
				
				&:focus,
				&:hover {
					border-color: rgba(22, 160, 133, 1);
					outline: none;
				}
				
				&[type=submit] {
					display: block;
					background: rgba(236, 240, 241, 1);
					border: 3px solid rgba(127, 140, 141, 1);
					@include border-radius(.66em);
					font: 300 1em/1.8em $fonts1;
					margin-bottom: 2em;
					text-align: center;
					width: 200px;
					
					&:hover,
					&:focus {
						border-color: rgba(22, 160, 133, 1);
						color: rgba(22, 160, 133, 1);
						outline: none;
					}
					
					&::-moz-focus-inner {
						border: 0;
					}
				}
			}
		}
	}
}