@charset "UTF-8";

/*
 *
 *	Feuille de style dédiée à la navigation du service en ligne LeQG
 *	développé par Damien Senger ( www.damiensenger.me )
 *	au sein de la société MSG SAS
 *
 */

/************************************
 *									*
 *				 NAV				* 
 *									*
 ************************************/

nav#principale {
	position: absolute; top: 0; left: -260px;
	display: block;
	background-color: $lightGrey;
	height: 100%;
	margin: 0;
	padding: 70px 0 0 5px;
	width: 260px;
	z-index: 1000;
	@include transition(all);
	
	& > a {
		position: relative;
		display: block;
		color: $grisMoyen;
		font-family: $fonts1;
		font-size: 18px;
		font-weight: 400;
		height: 65px;
		line-height: 65px;
		padding: 0 15px 0 70px;
		text-decoration: none;
		width: 100%;
		
		&::before {
			position: absolute; top: 0; left: 0;
			display: block;
			font-family: $icons;
			font-size: 30px;
			height: 65px;
			line-height: 65px;
			text-align: center;
			width: 65px;
		}
		
		&#lien-contacts::before { content: '\e840'; }
		&#lien-dossiers::before { content: '\e851'; }
		&#lien-carto::before { content: '\e845'; }
		&#lien-sms::before { content: '\e8e4'; }
		&#lien-email::before { content: '\e805'; }
		&#lien-poste::before { content: '\e8ef'; }
		&#lien-porte::before { content: '\e841'; }
		&#lien-boite::before { content: '\e84d'; }
		&#lien-rappels::before { content: '\e854'; }
		
		&#lien-utilisateur {
			&::before {
				content: '\e952';
				font-size: 45px;
			}
			
			&::after {
				position: absolute; top: 0; left: 0;
				color: $lightGrey;
				content: '\e80a';
				font-family: $icons;
				font-size: 25px;
				height: 65px;
				line-height: 65px;
				text-align: center;
				width: 65px;
			}
			
			&:hover {
				color: $rouge;
			}
		}
		
		&:hover {
			color: $bleu;
		}
		
		&.inactif {
			color: lighten($grisMoyen, 20%);
			pointer-events: none;
		}
	}
}