@charset "UTF-8";

/*
 *
 *	Feuille de style dédiée à la navigation du service en ligne LeQG
 *	développé par Damien Senger ( www.damiensenger.me )
 *	au sein de la société MSG SAS
 *
 */

/************************************
 *									*
 *				 NAV				* 
 *									*
 ************************************/

nav#principale {
	position: fixed; top: 0; left: -165px; /* 260 - 95 */
	display: block;
	background-color: $lightGrey;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 70px 0 0 5px;
	width: 260px;
	z-index: 1100;
	@include transition(all);
	
	& > a {
		position: relative;
		display: block;
		color: $grisMoyen;
		font-family: $fonts1;
		font-size: 18px;
		font-weight: 400;
		height: 60px;
		line-height: 60px;
		padding: 0 95px 0 15px;
		text-align: right;
		text-decoration: none;
		width: 100%;
		
		&::after {
			position: absolute; top: 0; right: 15px; /* 65 + 15 + 15 = 95*/
			display: block;
			font-family: $icons;
			font-size: 30px;
			height: 65px;
			line-height: 65px;
			text-align: center;
			width: 65px;
		}
		
		&#lien-contacts::after { content: '\e840'; }
		&#lien-dossiers::after { content: '\e851'; }
		&#lien-carto::after { content: '\e845'; }
		&#lien-sms::after { content: '\e8e4'; }
		&#lien-email::after { content: '\e805'; }
		&#lien-poste::after { content: '\e8ef'; }
		&#lien-porte::after { content: '\e841'; }
		&#lien-boite::after { content: '\e84d'; }
		&#lien-rappels::after { content: '\e854'; }
		&#lien-administration::after { content: '\e855'; }
		
		&.actif {
			color: $bleu;
		
			&::before {
				position: absolute; top: 0; right: 15px;
				display: block;
				color: $bleu;
				content: '\e952';
				font-family: $icons;
				font-size: 45px;
				height: 65px;
				line-height: 65px;
				text-align: center;
				width: 65px;
				@include transition(all);
			}
			
			&::after {
				color: $lightGrey;
			}
		}
		
		&:hover {
			color: $rouge;
			
			&.actif::before { color: $rouge; }
		}
		
		&.inactif {
			color: lighten($grisMoyen, 20%);
			pointer-events: none;
		}
	}
}