@charset "UTF-8";

/*
 *
 *	Feuille de style principale du service en ligne LeQG
 *	développé par Damien Senger ( www.damiensenger.me )
 *	au sein de la société MSG SAS
 *
 */

// imports CSS hors SASS (.css)
@import "fontello.css";
@import "fonts.css";
@import "keyframes.css";
@import "kna.css";

// imports SASS (.scss)
@import "mixins.scss";


/********************************
 *								*
 *		 	VARIABLES			* 
 *								*
 ********************************/
 
$rouge:		rgba(192,  57,  43, 1);
$bleu:		rgba( 44,  62,  80, 1);
$blanc:		rgba(255, 255, 255, 1);
$noir:		rgba(  0,   0,   0, 1);
$orange:		rgba(237, 130,  98, 1);
$jaune:		rgba(253, 231, 180, 1);
$gris:		rgba(205, 203, 202, 1);
$grisMoyen:	darken($gris, 15%);
$grisFonce:	darken($gris, 50%);
$fonts1:		'Roboto', Helvetica, Arial, sans-serif;
$fonts2:		'Fira Sans', Helvetica, Arial, sans-serif;
$icons:		'fontello';



/********************************
 *								*
 *		 STYLES GÉNÉRAUX			* 
 *								*
 ********************************/
 
* {
	@include box-sizing();
} 

html,
body {
	background-color: $blanc;
	color: $noir;
	font: 400 16px/1.5em $fonts1;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

a {
	border-bottom: 1px solid $rouge;
	color: $rouge;
	text-decoration: none;
	@include transition(all);
	@media (-webkit-min-device-pixel-ratio: 1.5),
			  (min--moz-device-pixel-ratio: 1.5),
				(-o-min-device-pixel-ratio: 3/2),
				   (min-device-pixel-ratio: 1.5),
				       (min-resolution: 1.5dppx) {
		border-bottom-width: .5px;
	}
	
	&:hover {
		border-bottom-color: $bleu;
		color: $bleu;
	}
	
	&:active {
		border-bottom-color: $orange;
		color: $orange;
	}
	
	&.nostyle {
		border-bottom: none;
		color: inherit;
		text-decoration: none;
	}
}

abbr {
	border-bottom: none;
	outline: none;
}

h1 {
	font-size: 2.5em;
	line-height: 40px;
}


























