@charset "UTF-8";

/*
 *
 *	Feuille de style principale du service en ligne LeQG
 *	développé par Damien Senger ( www.damiensenger.me )
 *	au sein de la société MSG SAS
 *
 */

// imports CSS hors SASS (.css)
@import "fontello.css";
@import "fonts.css";
@import "keyframes.css";

// imports SASS (.scss)
@import "mixins.scss";


/********************************
 *								*
 *		 	VARIABLES			* 
 *								*
 ********************************/
 
$rouge:		rgba(171,  62,  91, 1);
$bleu:		rgba( 44,  62,  80, 1);
$blanc:		rgba(255, 255, 255, 1);
$noir:		rgba(  0,   0,   0, 1);
$orange:		rgba(255, 190,  64, 1);
$jaune:		rgba(253, 231, 180, 1);
$vert:		rgba(179, 204,  87, 1);
$lime:		rgba(236, 240, 129, 1);
$gris:		rgba(205, 203, 202, 1);
$grisMoyen:	darken($gris, 15%);
$grisFonce:	darken($gris, 50%);
$fonts1:		'Roboto', Helvetica, Arial, sans-serif;
$fonts2:		'Fira Sans', Helvetica, Arial, sans-serif;
$monospaced:'Fira Mono', monospace;
$icons:		'fontello';



/********************************
 *								*
 *		 STYLES GÉNÉRAUX			* 
 *								*
 ********************************/

a {
	border-bottom: 1px solid $rouge;
	color: $rouge;
	text-decoration: none;
	@include transition(all);
	@include bordure-fine();
	
	&:hover {
		border-bottom-color: $bleu;
		color: $bleu;
	}
	
	&:active {
		border-bottom-color: $orange;
		color: $orange;
	}
	
	&.nostyle {
		border-bottom: none;
		color: inherit;
		text-decoration: none;
	}
}

abbr {
	border-bottom: none;
	outline: none;
}

audio,
canvas,
video {
	display: inline-block;
}

h1 {
	font-size: 2.5em;
	line-height: 40px;
	margin: 0;
	padding: 0;
}

h2 {
	display: table-cell;
	color: $bleu;
	font: 900 2.66em / 1.25em $fonts1;
	vertical-align: middle;
	
	span {
		display: block;
		
		&:first-of-type {
			text-transform: uppercase;
		}
		
		&:last-of-type {
			font-variant: small-caps;
			font-weight: 500;
		}
	}
}

h3 {
	border-bottom: 1px solid $rouge;
	color: $bleu;
	font: 600 1.3em/1.3em $fonts1;
	margin: 1.3em 3em 1em 3em;
	padding: 1.3em 10px .33em 10px;
	@include bordure-fine();
}

h6 {
	border-bottom: 1px solid $rouge;
	color: $bleu;
	font: 600 1.3em/1.3em $fonts1;
	margin: 1.3em 3em 1em 3em;
	padding: 1.3em 10px .33em 10px;
	@include bordure-fine();
}

img {
	border: 0;
	height: auto;
	vertical-align: middle;
}

ol,
ul {
	padding-left: 2em;
	
	&.unstyled {
		list-style: none;
	}
}

pre {
	background-color: lighten($rouge, 33%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	@include background-size(3em 3em);
	border: 5px solid lighten($rouge, 10%);
	color: $noir;
	font-family: $monospaced;
	font-size: 1.1em;
	line-height: 1.5em;
	margin: 3em;
	padding: 1.5em;
	padding-top: 1.55em;
	text-align: left;
	
	span {
		display: block;
		padding-left: 2em;
	}
}

svg:not(:root) {
	overflow: hidden;
}



/************************************
 *									*
 *		   STYLES DES BLOCS			* 
 *									*
 ************************************/
 
* {
	@include box-sizing();
} 

html,
body {
	background-color: $blanc;
	color: $noir;
	font-family: $fonts1;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

html {
	font-size: 62.5%;
	font-size: calc(1em * 0.625);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-size: 1.4em;
}

main {
	position: absolute; top: 0; left: 0;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0;
	padding-top: 50px;
	width: 100%;
	
	aside {
		position: absolute; top: 0; right: 0;
		height: 100%;
		padding-top: 50px;
		width: 40%;
	}
}

section {
	position: relative;

	&.central {
		width: 55%;
	}
}



/************************************
 *									*
 *	IMPORT DES STYLES PARTICULIERS	* 
 *									*
 ************************************/

// Style dédié au header
@import "header.scss";

// Style dédié aux fiches contacts
@import "fiches.scss";

// Style dédié aux formulaires
@import "forms.scss";