@charset "UTF-8";
/*
 *
 * Feuille de style du QG – logiciel développé par Damien Senger
 *
 */

// imports CSS hors SASS (.css)
@import "fontello.css";
@import "fonts.css";
@import "keyframes.css";
@import "kna.css";

// imports SASS (.scss)
@import "mixins.scss";

$rouge:		rgba(192,  57,  43, 1);
$bleu:		rgba( 44,  62,  80, 1);
$blanc:		rgba(255, 255, 255, 1);
$noir:		rgba(  0,   0,   0, 1);
$orange:	rgba(237, 130,  98, 1);
$jaune:		rgba(253, 231, 180, 1);
$gris:		rgba(205, 203, 202, 1);
$grisMoyen:	darken($gris, 15%);
$grisFonce:	darken($gris, 50%);
$fonts:		'Roboto', Helvetica, Arial, sans-serif;
$longtext:	'Fira Sans', Helvetica, Arial, sans-serif;
$icons:		'fontello';



/* Style CSS du QG */

html, 
body {
	font-family: $fonts;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

/* Style général des balises */

a {
	border-bottom: 1px solid $rouge;
		@media  (-webkit-min-device-pixel-ratio: 1.5),
				(min--moz-device-pixel-ratio: 1.5),
				(-o-min-device-pixel-ratio: 3/2),
				(min-device-pixel-ratio: 1.5),
				(min-resolution: 1.5dppx) {
					border-bottom-width: .5px;
		}
	
	color: $rouge;
	text-decoration: none;
	
	@include transition(all);
	
	&:hover {
		border-bottom-color: $bleu;
		color: $bleu;
	}
	
	&.nostyle {
		border: none;
		color: inherit;
		text-decoration: none;
	}
}

aside {
	position: absolute; top: 0; right: 0;
	@include box-sizing();
	height: 100%;
	padding-top: 50px;
	width: 40%;
}

abbr {
	border-bottom: none;
	outline: none;
}

audio, 
canvas, 
video {
	display: inline-block;
}

body {
	font-size: 1.4em;
	background-color: $blanc;
	color: $noir;
	font-family: $fonts;
	line-height: 1.5;
}

h3 {
	border-bottom: 1px solid $rouge;
	color: $bleu;
	font: 600 1.3em/1.3em $fonts;
	margin: 1.3em 3em 1em 3em;
	padding: 1.3em 10px .33em 10px;
	
	@media  (-webkit-min-device-pixel-ratio: 1.5),
			(min--moz-device-pixel-ratio: 1.5),
			(-o-min-device-pixel-ratio: 3/2),
			(min-device-pixel-ratio: 1.5),
			(min-resolution: 1.5dppx) {
				border-bottom-width: .5px;
	}
}

h6 {
	border-bottom: 1px solid $rouge;
	color: $bleu;
	font: 600 1.3em/1.3em $fonts;
	margin: 1.3em 0 1em 0;
	padding: 1.3em 10px .33em 10px;
	
	@media  (-webkit-min-device-pixel-ratio: 1.5),
			(min--moz-device-pixel-ratio: 1.5),
			(-o-min-device-pixel-ratio: 3/2),
			(min-device-pixel-ratio: 1.5),
			(min-resolution: 1.5dppx) {
				border-bottom-width: .5px;
	}
}

html {
	font-size: 62.5%;
	font-size: calc(1em * 0.625);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

img {
	height: auto;
	vertical-align: middle;
	border: 0;
}

input {
	border: 0;
	border-bottom: 1px solid lighten($bleu, 50%);
	padding: .33em 1em;
	width: 100%;
	@include transition(all);
	
	&:hover { border-bottom: 1px solid lighten($bleu, 40%); }
	&:focus { border-bottom: 1px solid $bleu; }
}

main {
	position: absolute; top: 0; left: 0;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0;
	padding-top: 50px;
	width: 100%;
}

pre {
	background-color: lighten($rouge, 33%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	-webkit-background-size: 3em 3em;
	-moz-background-size: 3em 3em;
	background-size: 3em 3em;
	border: 5px solid lighten($rouge, 10%);
	color: $noir;
	font-family: 'Courrier New', monospace;
	font-size: 1.1em;
	line-height: 1.5em;
	margin: 3em;
	padding: 1.5em;
	padding-top: 1.55em;
	text-align: left;
	
	span {
		display: block;
		padding-left: 2em;
	}
}

section {
	&.central {
		width: 55%;
	}
}

svg:not(:root) {
	overflow: hidden;
}

ul, 
ol {
	padding-left: 2em;
	
	&.unstyled {
		list-style: none;
	}
}



/* Déclarations dédiées au <header> */

header#top {
	position: relative;
	background: $bleu;
	color: $blanc;
	font-size: 1em;
	height: 50px;
	padding: .33em 1em;
	width: 100%;
	z-index: 10000;
	
	h1 {
		font-size: 2.5em;
		line-height: 50px;
	}
	
	ul#parametres {
		position: absolute; top: 50px; right: 65px;
		background: lighten($blanc, 10%);
		display: block;
		margin: 0;
		padding: .33em 0 .5em 0;
		color: $noir;
		
		&:before {
			position: absolute; top: -50px; right: 0px;
			display: block;
			background: rgba(255, 255, 255, 0);
			color: rgba(255, 255, 255, 1);
			content: '\e855';
			font-family: $icons;
			font-size: 1.66em;
			height: 50px;
			line-height: 50px;
			text-align: center;
			width: 50px;
			
			@include transition(all);
		}
		
		&:hover {
			border: 1px solid $bleu;
			border-top: none;
		}
		
		&:hover li {
			display: block;
		}
		
		&:hover:before {
			background: rgba(255, 255, 255, 1);
			color: rgba(44, 62, 80, 1);
		}
		
		a {
			color: $bleu;
			text-decoration: none;
		}
		
		li {
			display: none;
			line-height: 1.5em;
			margin: .15em 0;
			padding: .6em 1.33em .5em 4em;
			text-align: right;
			z-index: 500;
			
			@include transition(all);
			
			&:hover {
				background-color: rgba(192, 57, 43, .15);
				color: $rouge;
			}
		}
	}
	
	ul#gestion-compte {
		position: absolute; top: 50px; right: 15px;
		background: rgba(255, 255, 255, .9);
		display: block;
		margin: 0;
		padding: .33em 0 .5em 0;
		color: black;

		&:before {
			position: absolute; top: -50px; right: 0px;
			display: block;
			background: rgba(255, 255, 255, 0);
			color: rgba(255, 255, 255, 1);
			content: '\e80a';
			font-family: $icons;
			font-size: 1.66em;
			height: 50px;
			line-height: 50px;
			text-align: center;
			width: 50px;
			@include transition(all);
		}
		
		&:hover {
			border: 1px solid $bleu;
			border-top: none;
		}
		
		&:hover li {
			display: block;
		}
		
		&:hover:before {
			background: rgba(255, 255, 255, 1);
			color: rgba(44, 62, 80, 1);
		}
		
		a {
			color: $bleu;
			text-decoration: none;
		}
		
		li {
			display: none;
			line-height: 1.5em;
			margin: .15em 0;
			padding: .6em 1.33em .5em 4em;
			text-align: right;
			z-index: 500;
			
			@include transition(all);
			
			&:hover {
				background-color: rgba(192, 57, 43, .15);
				color: $rouge;
			}
		}
	}
	
	nav#applications {
		position: absolute; top: 50px; right: 115px;
		display: block;
		margin: 0;
		padding: 0;
		
		&:before {
			position: absolute; top: -50px; right: 1px;
			display: block;
			background: rgba(255, 255, 255, 0);
			color: rgba(255, 255, 255, 1);
			content: '\e810';
			font-family: $icons;
			font-size: 2em;
			height: 50px;
			line-height: 50px;
			text-align: center;
			width: 50px;
			@include transition(all);
		}
		
		&:hover:before {
			background: rgba(255, 255, 255, 1);
			color: rgba(44, 62, 80, 1);
		}
		
		&:hover {
			ul {
				display: table;
				border: 1px solid $bleu;
				border-collapse: collapse;
				border-top: none;
				margin: 0;
				width: 302px;
				
				a {
					display: inline-block;
					color: $bleu;
					text-decoration: none;
				}
				
				li {
					display: table-cell;
					height: 100px;
					overflow: hidden;
					padding: .5em;
					text-align: center;
					vertical-align: middle;
					width: 100px;
					z-index: 500;
					@include transition(all);
					
					&:hover {
						color: rgba(192, 57, 43, 1);
					}
					
					span {
						display: block;
						font-family: 'fontello';
						font-size: 2.5em;
					}
				}
			}
		}
		
		ul {
			display: none;
			background: rgba(255, 255, 255, .9);
		}
	}
}



/* Déclarations de style dédié au formulaire de connexion */

main.login {
	form {
		position: absolute; top: 50%;
		background: lighten($noir, 33%);
		border-radius: 2em;
		color: $blanc;
		height: 330px;
		left: 50%;
		margin: -165px 0 0 -200px;
		width: 400px;
		
		ul, ul li {
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: center;
			width: 100%;
		}
		
		ul {
			li {
				& > label {
					display: block;
					font: 900 1em/1.8em $fonts;
					text-align: center;
					
					&:first-of-type {
						margin-top: 1.8em;
					}
				}
				
				&.submit {
					padding-left: 100px;
				}
				
				input {
					display: block;
					background: rgb(236, 240, 241);
					border: 3px solid rgb(127, 140, 141);
					border-radius: .66em;
					font: 300 1.2em/1.5em $fonts;
					height: 1.8em;
					margin: .33em auto 1.8em auto;
					outline: none;
					padding: .1em .5em;
					text-align: center;
					width: 300px;
					@include transition(all);
					
					&:focus {
						border-color: rgba(22, 160, 133, 1);
						outline: none;
						padding: .1em 1em;
					}
					
					&[type="submit"] {
						background: rgb(236, 240, 241);
						border: 3px solid rgb(127, 140, 141);
						border-radius: .66em;
						display: block;
						font: 300 1em/1.8em $fonts;
						height: 2.3em;
						text-align: center;
						width: 200px;
						
						&:hover, &:focus {
							border-color: rgb(22, 160, 133);
							color: rgb(22, 160, 133);
							outline: none;
						}
						
						&::-moz-focus-inner {
							border: 0;
						}
					}
				}
			}
		}
	}
	
	#erreur {
		background-color: rgba(175, 0, 0, .66);
		border: 3px solid white;
		border-radius: 1em;
		color: white;
		margin: 1em auto;
		padding: .5em 0;
		text-align: center;
		width: 250px;
	}
}



/* Déclarations de style liées aux fiches des contacts */

main.fiche {
	position: absolute; top: 0; left: 0;
	@include box-sizing();
	height: 100%;
	padding-top: 50px;
	width: 100%;
	
	section#fiche-electeur {
		position: relative;
		width: 55%;
		
		header {
			position: relative;
			display: table;
			height: 200px;
			padding-left: 250px;
			
			&:before {
				position: absolute; top: 0; left: 0;
				display: block;
				background: $bleu;
				border-radius: .5em;
				color: white;
				content: '\e80a';
				font-family: $icons;
				font-size: 75px;
				height: 125px;
				line-height: 125px;
				margin: 37.5px;
				margin-left: 87.5px;
				text-align: center;
				width: 125px;
			}
			
			h2 {
				display: table-cell;
				color: $bleu;
				font: 900 2.66em/1.25em $fonts;
				vertical-align: middle;
				
				span {
					display: block;
					
					&:last-of-type {
						font: 500 .9em/1.25em $fonts;
						font-variant: small-caps;
					}
					
					&.nom,
					&.nomUsage { text-transform: uppercase; }
				}
			}
		
			#electeur-icons {
				position: absolute; bottom: 30px; left: 190px;
				display: block;

				span#est-electeur {
					display: block;
					background-color: $rouge;
					border-radius: 50%;
					color: white;
					cursor: default;
					font-family: $icons;
					font-size: 18px;
					height: 30px;
					line-height: 30px;
					margin: 0;
					margin-left: 7px;
					margin-top: 10px;
					padding: 0;
					text-align: center;
					width: 30px;
					
					&:last-of-type {
						margin-left: 0;
					}
				}
			}
		}
		
		#carte {
			position: absolute; top: 0; right: 0;
			background-color: gray;
			height: 250px;
			margin: 0;
			max-width: none;
			padding: 0;
			width: 350px;
			
			img {
			    max-width: none; 
			}
			
			@media all and (max-width: 2000px) {
				display: none;
			}
		}
	}
	
	ul.icons {
		position: absolute; top: .5em; right: 0;
		list-style: none;
		text-align: right;
		
		li {
			display: inline-block;
			background: $bleu;
			border-radius: 50%;
			color: white;
			cursor: pointer;
			font-family: $icons;
			font-size: 15px;
			height: 30px;
			line-height: 30px;
			margin: 0 .5em;
			text-align: center;
			width: 30px;
			
			&.actif {
				background: rgb(122,191,102);
			}
			
			&.inactif {
				background: rgb(219,48,38);
			}
			
			&:hover {
				background: rgb(249,225,75);
			}
		}
	}
	
	ul.infos {
		list-style: none;
		padding: 0;
		padding-left: 250px;
		
		li {
			position: relative;
			font: 400 1.2em/1.5em $fonts;
			margin-bottom: 1.5em;
			min-height: 1.5em;
			
			a {
				border-bottom-color: $rouge;
				
				&:hover {
					border-bottom-color: $bleu;
				}
			}
			
			& > label {
				position: absolute; top: 0; left: -200px;
				color: lighten($bleu, 12%);
				font-variant: small-caps;
				margin-top: 0;
				padding-right: 1em;
				text-align: right;
				width: 200px;
				
				&.formulaire {
					margin-top: .25em;
				}
			}
			
			input.fiche {
				border: 0;
				border-bottom: 1px solid lighten($bleu, 50%);
				color: $noir;
				width: 85%;
				@include transition(all);
				
				&[value=""] {
					position: relative;
					background-color: lighten($rouge, 45%);
					border-bottom: 1px solid $rouge;
					color: $rouge;
					
					&:focus {
						background: none;
						color: $noir;
					}
				}
				
				&:focus {
					border-bottom: 1px solid $bleu;
				}
			}
			
			span {
				&#reussite-form-email, 
				&#reussite-form-mobile, 
				&#reussite-form-telephone {
					position: absolute; bottom: 0; right: 15%;
					display: none;
					background: green;
					border-radius: 50% 50% 0 0;
					color: white;
					font-family: $icons;
					font-size: 12px;
					height: 18px;
					line-height: 18px;
					text-align: center;
					width: 18px;
				}
				
				&#valider-form-email,
				&#valider-form-mobile,
				&#valider-form-telephone {
					position: absolute; bottom: 0; right: 15%;
					display: block;
					background: $orange;
					border-radius: .5em .5em 0 0;
					color: white;
					cursor: pointer;
					font-family: $fonts;
					font-size: 12px;
					height: 18px;
					line-height: 18px;
					padding: 0 .5em;
					text-align: center;
					width: auto;
				}
			}
		}
	}
	
	aside {
		//padding-bottom: 3em;
		@include shadow(0, 0, 1em, rgb(100, 100, 100));
		
		ul#navigation-aside {
			position: absolute; bottom: 0;
			background: rgba(255, 255, 255, .66);
			height: 3.5em;
			margin: 0;
			padding: 0;
			padding-top: .5em;
			width: 100%;
			z-index: 9999;
			
			li {
				display: inline-block;
				background: $blanc;
				border-top: 1px solid $bleu;
				font-size: 1em;
				height: 3em;
				line-height: 3em;
				margin: 0;
				padding: 0;
				text-align: center;
				width: 33.33%;
				
				&:hover {
					cursor: pointer;
					font-weight: 500;
				}
				
				&:nth-of-type(2) {
					border: 1px solid $bleu;
					border-bottom: none;
				}
				
				&.actif {
					border-top: none !important;
					
					&:hover {
						cursor: default;
						font-weight: inherit;
					}
				}
			}
		}
		
		[id^='aside-'] {
			position: relative;
			height: 100%;
			overflow: hidden;
			overflow-y: scroll;
			width: 100%;
		}
	
		#tags {
			list-style: none;
			margin: 0;
			padding: 1em 0 0 1em;
			width: 100%;
			
			span.tag {
				display: inline-block;
				background: rgb(253, 231, 180);
				border-radius: .5em;
				@include shadow(1px, 1px, 1px, $gris);
				cursor: pointer;
				margin: .33em .25em;
				padding: .15em 1em;
				
				&:before {
					display: inline-block;
					color: $orange;
					content: '\e827';
					font-family: $icons;
					padding: 0 .66em 0 0;
					text-align: center;
					width: 1em;
				}
				
				&:hover {
					background: rgb(238,130,98);
					color: rgb(255,255,255);
					cursor: pointer;
					
					&:before {
						color: rgb(253,231,180);
						content: '\e813';
					}
				}
			}
			
			#add-tag {
				position: relative;
				display: inline-block;
				border: 2px solid $orange;
				border-radius: 50%;
				color: $orange;
				cursor: pointer;
				font-family: $icons;
				font-size: 14px;
				height: 18px;
				line-height: 14px;
				margin: 0 .5em;
				text-align: center;
				width: 18px;
				
				&:before {
					position: absolute; top: -5px; right: 20px;
					display: none;
					background: $bleu;
					border-radius: .5em;
					color: $blanc;
					content: 'Ajouter un tag';
					font-family: $fonts;
					padding: .4em .66em;
					text-align: right;
					z-index: 500;
				}
				
				&:hover:before {
					display: block;
				}
			}
			
			#ajout-tag {
				display: none;
				border: 1px solid rgb(253, 231, 180);
				border-radius: .5em;
				margin: .5em .33em;
				padding: .15em 1em;
				width: 15em;
			}
		}
		
		#historique, 
		#taches,
		#dossiers {
			position: relative;
			@include box-sizing();
			margin: 0;
			margin-bottom: 1em;
			padding: 0 10px;
			width: 100%;
		}
		
		#taches,
		#dossiers {
			a[id^='ajout-'] {
				position: absolute; top: 2em; right: 1em;
				background: $jaune;
				border: 0;
				border-radius: 1em;
				color: $orange !important;
				font-size: .85em;
				line-height: 1.5em;
				padding: .33em .85em;	
				
				@include shadow(1px, 1px, 1px, $gris);
				
				&:before {
					content: '\e817';
					font-family: $icons;
					font-size: 1em;
					line-height: 1.25em;
					padding-right: .5em;
				}
				
				&:hover {
					top: 2.1em; right: 0.9em;
					color: $rouge !important;
					@include shadow(0, 0, 0, $blanc);
				
					&:before {
						color: $rouge;
					}
				}
			}
		}
		
		#taches {
			ul {
				list-style: none;
				
				li {
					position: relative;
					margin-left: 0;
					padding-left: 30px;
					
					&:before {
						position: absolute; top: 0; left: 10px;
						content: '\e836';
						font-family: $icons;
					}
					
					&.nobefore:before {
						content: '\e81f';
					}
					
					&:hover > a {
						display: block;
						background: rgba(100, 100, 100, 1);
					}
					
					& > a {
						position: absolute; top: 2px; left: 6px;
						display: none;
						background: rgba(200, 200, 200, 1);
						border-radius: 50%;
						color: white;
						font-family: $icons;
						font-size: 10px;
						height: 17px;
						line-height: 17px;
						text-align: center;
						text-decoration: none;
						width: 17px;
						@include transition(all);
						
						&:hover {
							background: $rouge;
							cursor: pointer;
						}
					}
				}
			}
		}
			
		#dossiers {
		
			ul {
				list-style: none;
				margin: 0;
				padding: 0 1em;
				
				a {
					border: none;
					color: inherit;
					text-decoration: none;
				}
			
				li {
					position: relative;
					display: block;
					background-color: $jaune;
					border-radius: 1em;
					padding: .66em 1.33em 1em 70px;
					margin-bottom: 1em;
					height: 80px;
					@include shadow(1px, 1px, 3px, $gris);
					
					&:before {
						position: absolute; top: 20px; left: 20px;
						color: $orange;
						content: '\e850';
						font-family: $icons;
						font-size: 30px; /*<70px  <30px>  >*/
						line-height: 40px;
					}
					
					&.dossierFerme {
						background-color: lighten($gris, 10%);
						
						&:before {
							left: 22px;
							color: $grisMoyen;
							content: '\e852';
						}
						
						strong {
							color: $grisFonce;
							font-weight: 500;
						}
					}
					
					&.dossierAbsent {
						background-color: lighten($gris, 10%);
						
						&:before {
							left: 22px;
							color: $grisMoyen;
							content: '\e868';
						}
						
						strong {
							color: $grisFonce;
							font-weight: 400;
							line-height: 58px;
						}
					}
					
					strong {
						color: $orange;
						font-size: 1.2em;
						font-weight: 500;
					}
					
					p {
						font-size: .85em;
					}
				}
			}
		}
		
		#historique {
			table#historique-contact {
				border: 1px solid $orange;
				margin: 0;
				margin-top: -.33em;
				margin-bottom: 1em;
				table-layout: auto;
				width: 100%;
				
				td, th {
					border: 1px dotted $orange;
				}
				
				thead {
					tr {
						background: $jaune;
						border: 1px solid $orange;
						
						th {
							border: 1px solid $orange;
							text-align: center;
							
							&:last-of-type {
								position: relative;
								
								span.add-historique {
									position: absolute; top: 4px; right: 10px;
									display: block;
									background: $orange;
									border-radius: 50%;
									color: white;
									cursor: pointer;
									font-family: $icons;
									font-size: 12px;
									height: 20px;
									line-height: 20px;
									opacity: .66;
									text-align: center;
									width: 20px;
									@include transition(all);
									
									&:before {
										position: absolute; top: -5px; right: 30px;
										display: block;
										background: $bleu;
										border-radius: .5em;
										color: $blanc;
										content: 'Ajouter une entrée';
										font-family: $fonts;
										opacity: 0;
										padding: .4em .66em;
										text-align: right;
										z-index: 500;
										@include transition(all);
									}
									
									&:hover {
										opacity: 1;
										
										&:before {
											opacity: 1;
										}
									}
								}
							}
						}
					}
				}
				
				tbody {
					tr {
						td {
							padding: .66em 1em;
							text-align: center;
							
							&.liste-tags { padding-top: .25em; }

							&:nth-of-type(-n+2) {
								width: 125px;
							}
							
							&:nth-of-type(3) {
								text-align: left;
							}
							
							&:last-of-type {
								position: relative;
								text-align: left;
								
								span.add-element {
									position: absolute; top: 3px; right: 7px;
									display: block;
									background: $orange;
									border-radius: 50%;
									color: white;
									cursor: pointer;
									font-family: $icons;
									font-size: 15px;
									height: 25px;
									line-height: 25px;
									text-align: center;
									width: 25px;
								}
							}
							
							input {
								font-size: .95em;
								
								&#form-date {
									text-align: center;
									width: 95px;
								}
								
								&#form-objet {
									width: 90%;
								}
							}
						}
						
						&.ajout-historique {
							display: none;
						}
						
						&.attente {
							display: none;
							width: 100%;
							
							span {
								display: block;
								transform-origin: 50% 50%;
								-webkit-animation: rotfocus 3s linear infinite;
								   -moz-animation: rotfocus 3s linear infinite;
								        animation: rotfocus 3s linear infinite;
							}
							
							td {
								font-family: $icons;
								text-align: center;
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}



/* Déclarations de style liées à la recherche de fiches */

section#recherche-fiche {
	margin: 0;
	padding: 0 2em;
	
	ul {
		position: relative;
		list-style: none;
		margin: 0;
		padding: 0 10px;
		padding-right: 30px;
		width: 100%;
		
		li {
			display: inline-block;
			width: 100%;
			
			&:last-of-type {
				position: absolute; top: 5px; right: 10px;
				display: block;
				text-align: right;
				width: 30px;
				
				input[type="submit"] {
					background-color: rgba(44, 62, 80, 0);
					border: 1px solid rgba(44, 62, 80, .5);
					border-radius: 50%;
					color: $bleu;
					font-family: $icons;
					height: 30px;
					line-height: 20px;
					margin: 0;
					padding: 0;
					text-align: center;
					width: 30px;
					@include transition(all);
					
					&:hover {
						border: 1px solid rgba(44, 62, 80, 1);
					}
				}
			}
			
			& > label {
				display: block;
				color: lighten($bleu, 15%);
				font-size: .85em;
				font-variant: small-caps;
				line-height: .75em;
				padding-left: 5px;
				margin-top: .5em;
			}
			
			input {
				border: 0;
				border-bottom: 1px solid rgba(44, 62, 80, .25);
				font-size: 1.1em;
				line-height: 1.5em;
				padding: .15em 5px;
				margin-bottom: .66em;
				width: 85%;
				@include transition(all);
				
				&:focus {
					border-bottom: 1px solid rgba(44, 62, 80, 1);
				}
			}
		}
	}
}



/* Déclarations de styles liées à l'affichage des résultats d'une recherche */

main[class^='recherche'],
main[class^='creation'] {
	section.liste {
		height: 100%;
	}
}

section.liste {
	display: block;
	margin-top: 1.1em;
	text-align: center;
	width: 100%;
	
	a {
		border-bottom: inherit;
		color: inherit;
		text-decoration: inherit;
	}
	
	article.fiche {
		position: relative;
		display: inline-block;
		background: rgba(253, 231, 180, .66);
		border-radius: .5em;
		cursor: pointer;
		margin: 1.5em 2em;
		min-height: 100px;
		padding: 10px;
		vertical-align: top;
		width: 200px;
		@include shadow(1px, 1px, 3px, $gris);
		
		&:hover > header a.suppression { display: block; }
		
		& > header {
			display: block;
			padding-top: 140px;
			
			&:before {
				position: absolute; top: 0; left: 0px;
				display: block;
				background: $orange;
				border-radius: 50%;
				color: white;
				content: '\e80a';
				font-family: $icons;
				font-size: 50px;
				height: 100px;
				line-height: 100px;
				margin: 25px 50px;
				text-align: center;
				width: 100px;
			}
			
			a.suppression {
				position: absolute; top: .2em; right: .5em;
				display: none;
				color: $grisMoyen;
				font-family: $icons;
				font-size: 1.5em;
				
				&:hover {
					color: $orange;
				}
			}
					
			h3 {
				border-bottom: none;
				color: $bleu;
				font-size: 1.33em;
				font-weight: 900;
				margin: 0;
				margin-bottom: .33em;
				padding: 0;
				
				span {
					&:last-of-type {
						display: block;
						font-weight: 500;
					}
				}
			}
		}
		
		&.ajout {
			cursor: pointer;
			
			& > header {
				&:before {
					background: lighten($bleu, 25%);
					content: '\e816';
					font-size: 75px;
				}
			}
		}
		
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			
			li {
				color: rgb(60, 60, 60);
				font-size: 1em;
				font-weight: 300;
			}
		}
		
		&.vide {
			header {
				&:before {
					background: none;
					color: rgb(237, 130, 98);
					content: '\e803';
					font-size: 45px;
					height: 75px;
					line-height: 75px;
					margin: 37.5px 62.5px;
					width: 75px;
					
					transform-origin: 50% 50%;
					-webkit-animation: typofocus 4s ease-in-out infinite;
					   -moz-animation: typofocus 4s ease-in-out infinite;
					    -ms-animation: typofocus 4s ease-in-out infinite;
							animation: typofocus 4s ease-in-out infinite;
				}
			}
		}
	}
}





// Style lié à une page de création d'un dossier ou d'une tâche
section#creation {
	position: relative;
	width: 55%;
	
	header {
		position: relative;
		display: table;
		height: 200px;
		padding-left: 250px;
		
		&.dossier:before {
			content: '\e850';
		}
		
		&.tache:before {
			content: '\e823';
		}
		
		&:before {
			position: absolute; top: 0; left: 0;
			display: block;
			background: $bleu;
			border-radius: .5em;
			color: white;
			font-family: $icons;
			font-size: 75px;
			height: 125px;
			line-height: 125px;
			margin: 37.5px;
			margin-left: 87.5px;
			text-align: center;
			width: 125px;
		}
		
		h2 {
			display: table-cell;
			color: $bleu;
			font: 900 2.66em/1.25em $fonts;
			vertical-align: middle;
			
			span {
				display: block;
				
				&:first-of-type {
					font: 500 .9em/1.25em $fonts;
					font-variant: small-caps;
				}
				
				&:last-of-type {
					text-transform: uppercase;
				}
				
				
			}
		}
	}
		
	ul.infos {
		list-style: none;
		padding: 0;
		padding-left: 250px;
		
		li {
			position: relative;
			font: 400 1.2em/1.5em $fonts;
			margin-bottom: 1.5em;
			min-height: 1.5em;
			
			a {
				border-bottom-color: $rouge;
				
				&:hover {
					border-bottom-color: $bleu;
				}
			}
			
			& > label:first-of-type {
				position: absolute; top: 0; left: -200px;
				color: lighten($bleu, 12%);
				font-variant: small-caps;
				margin-top: .1em;
				padding-right: 1em;
				text-align: right;
				width: 200px;
				
				&.textarea {
					margin-top: .9em;
				}
			}
			
			input.fiche {
				border: 0;
				border-bottom: 1px solid lighten($bleu, 50%);
				font-family: $fonts;
				font-size: 1.1em;
				font-weight: 300;
				width: 85%;
				@include transition(all);
				
				&:focus {
					border-bottom: 1px solid $bleu;
				}
			}
			
			& > label.checkbox {
				position: relative;
				display: block;
				padding-left: 2em;
				
				input {
					position: absolute; top: .2em; left: 0; 
					display: block;
					width: auto;
				}
			}
			
			textarea {
				border: 0;
				border-bottom: 1px solid lighten($bleu, 50%);
				border-left: 1px solid lighten($bleu, 50%);
				font-family: $fonts;
				font-size: 1.1em;
				font-weight: 300;
				height: 6.5em;
				line-height: 1.5em;
				padding: .33em;
				padding-top: 0;
				resize: none;
				width: 85%;
				@include transition(all);
				
				&:focus {
					border-bottom: 1px solid $bleu;
					border-left: 1px solid $bleu;
				}
			}
			
			&.button {
				text-align: center;
				width: 85%;
			
				input[type='submit'] {
					background: $blanc;
					border: 3px solid $bleu;
					color: $bleu;
					font-family: $fonts;
					font-weight: 500;
					letter-spacing: .03em;
					padding: .33em 1em;
					width: auto;
					@include border-radius(1em);
					@include transition(all);
					
					&:hover {
						border-color: $rouge;
						color: $rouge;
					}
				}
			}
		}
	}
}



// Style relatif aux pages des dossiers
main.dossier {
	section#fiche-dossier {
		position: relative;
		width: 55%;
		
		& > header {
			position: relative;
			display: table;
			height: 200px;
			padding-left: 250px;
			
			&:before {
				position: absolute; top: 0; left: 0;
				display: block;
				background: $bleu;
				border-radius: .5em;
				color: white;
				content: '\e850';
				font-family: $icons;
				font-size: 75px;
				height: 125px;
				line-height: 125px;
				margin: 37.5px;
				margin-left: 87.5px;
				text-align: center;
				width: 125px;
			}
			
			h2 {
				display: table-cell;
				color: $bleu;
				font: 900 2.66em/1.25em $fonts;
				vertical-align: middle;
				
				span {
					display: block;
					
					&:first-of-type {
						font-variant: small-caps;
						font-weight: 500;
					}
					
					&:last-of-type {
						text-transform: uppercase;
					}
				}
			}
		}
			
		ul.infos {
			list-style: none;
			padding: 0;
			padding-left: 250px;
			
			li {
				position: relative;
				font: 400 1.2em/1.5em $fonts;
				margin-bottom: 1.5em;
				min-height: 1.5em;
				
				a {
					border-bottom-color: $rouge;
					
					&:hover {
						border-bottom-color: $bleu;
					}
				}
				
				& > label {
					position: absolute; top: 0; left: -200px;
					color: lighten($bleu, 12%);
					font-variant: small-caps;
					margin-top: .1em;
					padding-right: 1em;
					text-align: right;
					width: 200px;
					
					&.textarea {
						margin-top: .9em;
					}
				}
				
				input.fiche {
					border: 0;
					border-bottom: 1px solid lighten($bleu, 50%);
					font-family: $fonts;
					font-size: 1.1em;
					font-weight: 300;
					width: 85%;
					@include transition(all);
					
					&:focus {
						border-bottom: 1px solid $bleu;
					}
				}
				
				textarea {
					border: 0;
					border-bottom: 1px solid lighten($bleu, 50%);
					border-left: 1px solid lighten($bleu, 50%);
					font-family: $fonts;
					font-size: 1.1em;
					font-weight: 300;
					height: auto;
					line-height: 1.5em;
					min-height: 7.6em;
					padding: .33em;
					padding-top: 0;
					resize: none;
					width: 85%;
					@include transition(all);
					
					&:focus {
						border-bottom: 1px solid $bleu;
						border-left: 1px solid $bleu;
					}
				}
				
				&.button {
					text-align: center;
					width: 85%;
				
					input[type='submit'] {
						background: $blanc;
						border: 3px solid $bleu;
						color: $bleu;
						font-family: $fonts;
						font-weight: 500;
						letter-spacing: .03em;
						padding: .33em 1em;
						width: auto;
						@include border-radius(1em);
						@include transition(all);
						
						&:hover {
							border-color: $rouge;
							color: $rouge;
						}
					}
				}
			}
		}
	}
	
	aside.barreGauche {
		ul#liste-contacts {
			list-style: none;
			margin: 0;
			padding: 1em 0;
			
			li {
				position: relative;
				display: block;
				background: $jaune;
				font-size: 1.15em;
				height: 35px;
				line-height: 35px;
				margin: .5em 2em 1em 2em;
				padding: 0 1em;
				padding-left: 40px;
				width: auto;
				@include border-radius(1em);
				@include shadow(2px, 2px, 0, $gris);
				
				span {
					font-weight: 400;
				
					&.bouton-ajout {
						position: absolute; top: 0; left: 5px;
						display: block;
						color: $orange;
						font-family: $icons;
						font-size: 20px;
						height: 35px;
						line-height: 35px;
						text-align: center;
						width: 35px;
						@include transition(all);
					}
				}
				
				&:hover {
					color: $rouge;
					
					.bouton-ajout {
						color: $rouge;
					}
				}
			}
		}
	}
}


// Style de base pour les barres latérales standards à gauche avec ou sans navigation
aside.barreGauche {
	position: fixed; top: 0; right: 0;
	padding-bottom: 3em;
	@include shadow(0, 0, 1em, rgb(100, 100, 100));
	
	ul#navigation-aside {
		position: absolute; bottom: 0;
		background: rgba(255, 255, 255, .66);
		height: 3.5em;
		margin: 0;
		padding: 0;
		padding-top: .5em;
		width: 100%;
		z-index: 9999;
		
		li {
			display: inline-block;
			background: $blanc;
			border-top: 1px solid $bleu;
			font-size: 1em;
			height: 3em;
			line-height: 3em;
			margin: 0;
			padding: 0;
			text-align: center;
			width: 33.33%;
			
			&:hover {
				cursor: pointer;
				font-weight: 500;
			}
			
			&:nth-of-type(2) {
				border: 1px solid $bleu;
				border-bottom: none;
			}
			
			&.actif {
				border-top: none !important;
				
				&:hover {
					cursor: default;
					font-weight: inherit;
				}
			}
		}
	}
	
	div[id^='aside-'] {
		padding-left: 1em;
		padding-right: 1em;
	}
}


section.central ul#listeDossiers { margin: 0 4em; }

ul#listeDossiers {
	list-style: none;
	margin: 0;
	padding: 0 1em;
	
	a {
		border: none;
		color: inherit;
		text-decoration: none;
	}

	li {
		position: relative;
		display: block;
		background-color: $jaune;
		border-radius: 1em;
		padding: .66em 1.33em 1em 70px;
		margin-bottom: 1em;
		height: 80px;
		@include shadow(1px, 1px, 3px, $gris);
		
		&:before {
			position: absolute; top: 20px; left: 20px;
			color: $orange;
			content: '\e850';
			font-family: $icons;
			font-size: 30px; /*<70px  <30px>  >*/
			line-height: 40px;
		}
		
		&.dossierFerme {
			background-color: lighten($gris, 10%);
			
			&:before {
				left: 22px;
				color: $grisMoyen;
				content: '\e852';
			}
			
			strong {
				color: $grisFonce;
				font-weight: 500;
			}
		}
		
		&.dossierAbsent {
			background-color: lighten($gris, 10%);
			
			&:before {
				left: 22px;
				color: $grisMoyen;
				content: '\e868';
			}
			
			strong {
				color: $grisFonce;
				font-weight: 400;
				line-height: 58px;
			}
		}
		
		strong {
			color: $orange;
			font-size: 1.2em;
			font-weight: 500;
		}
		
		p {
			font-size: .85em;
		}
	}
}


aside.ficheContact {
	display: table;
	margin: 0;
	padding: .33em 1em;
	padding-top: 55px;
	padding-top: calc(50px + .33em);
	
	
	#premierContact {
		display: table-cell;
		height: 100%;
		text-align: center;
		vertical-align: middle;
		width: 100%;
		
		span#ajoutInteraction {
			color: $bleu;
			cursor: pointer;
			font-size: 2em;
			font-weight: 300;
			
			&:before {
				display: block;
				background: $bleu;
				@include border-radius(50%);
				color: $blanc;
				content: '\e851';
				font-family: $icons;
				font-size: 75px;
				height: 150px;
				line-height: 150px;
				margin: 25px auto;
				width: 150px;
			}
		}
	}
	
	
	#nouvelleInteraction {
		display: none;
	}
}


ul.ficheInteraction {
	list-style: none;
	margin: 0 1em;
	padding: 0;
	
	& > li {
		position: relative;
		display: block;
		border-bottom: 1px solid $bleu;
		border-left: 1px solid $bleu;
		font-family: $longtext;
		font-size: 1.15em;
		line-height: 1.5em;
		margin-bottom: 2em;
		margin-left: 20%;
		margin-right: 10%;
		padding-bottom: .5em;
		padding-left: 1em;
		padding-top: .33em;
		
		&.submit {
			border-bottom: 0;
			border-left: 0;
			margin-left: 0;
			margin-right: 0;
		}

		
		p {
			font-family: $longtext;
			font-size: 1.2em;
			font-weight: 300;
			line-height: 1.5em;
		}
		
		&.notes p {
			max-height: 15.5em;
			max-height: calc(1.5em * 10 + .5em);
			min-height: 11em;
			min-height: calc(1.5em * 7 + .5em);
			overflow: scroll;
		}
		
		label {
			position: absolute; top: .5em; left: -20%;
			display: block;
			cursor: text;
			font-family: $fonts;
			font-variant: small-caps;
			margin-top: .1em;
			opacity: .5;
			padding-right: 1em;
			text-align: right;
			text-transform: capitalize;
			width: 20%;
			
			&.textarea {
				margin-top: 0em;
			}
		}
		
		input[type="file"] {
			display: inline-block;
			border: 0;
			font-family: $longtext;
			font-size: 1em;
			line-height: 1.33em;
			width: 95%;
		}
		
		input[type="text"],
		input[type="email"] {
			display: inline-block;
			border: 0;
			//border-bottom: 1px solid $bleu !important;
			font-family: $longtext;
			font-size: 1.15em;
			font-weight: 300;
			line-height: 1.33em;
			width: 95%;
		}
		
		input[type="submit"] {
			display: block;
			background: lighten($bleu, 66%);
			border: 1px solid $bleu;
			color: $bleu;
			margin: 0 auto;
			width: auto;
			@include shadow(2px, 2px, 0, lighten($gris, 10%));
			
			&:hover {
				border-color: $rouge;
				color: $rouge;
			}
		}
		
		textarea {
			display: inline-block;
			border: 0;
			//border-bottom: 1px solid $bleu;
			//border-left: 1px solid $bleu;
			font-size: 1.15em;
			height: 10em;
			height: calc((1.33em * 9) + 1em);
			margin-top: 0;
			padding: .33em 1em;
			padding-top: 0;
			line-height: 1.33em;
			resize: none;
			width: 95%;
		}
		
		ul.listeFichiers {
			margin-bottom: .5em;
			margin-left: 0;
		}
	}
}


// Menu de créations rapides

ul#creationsRapides {
	text-align: center;
	
	a {
		border-bottom: none;
		color: inherit;
		text-decoration: none;
		
		&:hover {
			color: $rouge;
		}
	}
	
	li {
		position: relative;
		display: inline-block;
		height: 150px;
		padding-top: 85px;
		width: 150px;
		
		&::before {
			position: absolute; top: 25px; left: 50px;
			display: block;
			background: $bleu;
			color: $blanc;
			font-family: $icons;
			font-size: 20px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			width: 50px;
			@include border-radius(50%);	
		}
		
		&:hover::before { background-color: $rouge; }
		
		&.creationFiche::before { content: '\e80c'; }
	}
}



// Style liés aux tags
.liste-tags {
	span.tag {
		display: inline-block;
		background: rgb(253, 231, 180);
		border-radius: .5em;
		@include shadow(1px, 1px, 1px, $gris);
		cursor: pointer;
		margin: .33em .25em;
		padding: .15em 1em;
		
		&:before {
			display: inline-block;
			color: $orange;
			content: '\e827';
			font-family: $icons;
			padding: 0 .66em 0 0;
			text-align: center;
			width: 1em;
		}
		
		&:hover {
			//background: rgb(238,130,98);
			//color: rgb(255,255,255);
			cursor: pointer;
			
			&:before {
				//color: rgb(253,231,180);
				content: '\e803';
			}
		}
	}
}