@mixin rounded($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	        border-radius: $radius;
}

@mixin shadow($x, $y, $blur, $color) {
	-webkit-box-shadow: $x $y $blur $color;
	   -moz-box-shadow: $x $y $blur $color;
	   		box-shadow: $x $y $blur $color;
}

@mixin shadow-inset($x, $y, $blur, $color) {
	-webkit-box-shadow: inset $x $y $blur $color;
	   -moz-box-shadow: inset $x $y $blur $color;
	   		box-shadow: inset $x $y $blur $color;
}

@mixin transition($property) {
	-webkit-transition: $property .2s ease-in-out;
	   -moz-transition: $property .2s ease-in-out;
	   		transition: $property .2s ease-in-out;
}

@mixin box-sizing {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	   		box-sizing: border-box;
}

@mixin linear-gradient($from, $to) {
	/* Fallback for sad browsers */
	background-color: $to;
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient($from, $to);
	/* Opera */
	background-image: -o-linear-gradient($from, $to);
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(linear, left top, left bottom, color-stop(0, $from), color-stop(1, $to));
	/* IE 10 */
	background-image: -ms-linear-gradient($from, $to);
	/* W3C */
	background-image: linear-gradient($from, $to);
}