@charset "UTF-8";

/*
 *
 *	Feuille de style dédiée au header de la version mobile du service en ligne LeQG
 *	développé par Damien Senger ( www.damiensenger.me )
 *	au sein de la société MSG SAS
 *
 */


/********************************
 *								*
 *		 	  HEADER				* 
 *								*
 ********************************/

header#barreHaute {
	position: absolute; top: 0; left: 0;
	background-color: $bleu;
	@include shadow(0, 4px, 0, $gris);
	color: $blanc;
	height: 40px;
	width: 100%;
	z-index: 500;
	@include transition(all);
	
	& > a {
		position: absolute; top: 0; right: .33em;
		border: 0;
		display: block;
		color: $blanc;
		font-family: $icons;
		font-size: 30px;
		height: 40px;
		line-height: 38px;
		padding: 0;
		text-align: center;
		text-decoration: none;
		width: 40px;
		@include transition(all);
			
		&.rotate {
			@include rotate(90deg);
		}
	}
}

nav#menu {
	position: absolute; top: -135px; left: 0;
	width: 100%;
	z-index: 500;
	@include transition(all);
	
	& > a {
		position: relative;
		display: block;
		background-color: $blanc;
		border-top: 1px solid $gris;
		color: $bleu;
		font-family: $fonts2;
		font-size: 1.33em;
		height: 45px;
		line-height: 45px;
		padding: 0;
		padding-left: 50px;
		padding-left: calc(.66em + 45px);
		padding-right: .66em;
		text-align: center;
		text-decoration: none;
		width: 100%;
		
		& > span {
			position: absolute; top: 0; left: .66em;
			font-family: $icons;
			height: 45px;
			line-height: 42px;
			text-align: center;
			width: 45px;
		}
	}
}