@charset "UTF-8";

/*
 *
 *	Feuille de style dédiée au login de la version mobile du service en ligne LeQG
 *	développé par Damien Senger ( www.damiensenger.me )
 *	au sein de la société MSG SAS
 *
 */


/********************************
 *								*
 *		 	   LOGIN				* 
 *								*
 ********************************/

body#login {
	background-color: $bleu;
	padding-top: 0px;
	
	header#loginLogo {
		position: fixed; top: 0;
		height: 50px;
		width: 100%;
		
		& > h1 {
			text-align: center;
			line-height: 50px;
		}
	}
	
	main {
		height: 100%;
		width: 100%;
		
		form {
			display: table;
			height: 100%;
			width: 100%;
			
			ul {
				display: table-cell;
				color: $blanc;
				list-style: none;
				padding-top: 50px;
				vertical-align: middle;
				
				li {
					label {
						display: block;
						font-size: 1.1em;
						font-weight: 400;
						margin: 0 auto;
						text-align: left;
						width: 90%;
					}
				
					input {
						background-color: $blanc;
						@include border-radius(.25em);
						font-weight: 500;
						margin: .15em auto 1.5em;
						padding: .33em .66em .15em;
						text-align: left;
						width: 90%;
						
						&[type="submit"] {
							background-color: $rouge;
							color: $blanc;
							font-weight: 300;
							margin-top: 1.5em;
							text-align: center;
						}
					}
				}
			}
		}
	}
}