@charset "UTF-8";

/*
 *
 *	Feuille de style principale du service en ligne LeQG
 *	développé par Damien Senger ( www.damiensenger.me )
 *	au sein de la société MSG SAS
 *
 */

// imports CSS hors SASS (.css)
@import "fontello.css";
@import "fonts.css";
@import "keyframes.css";

// imports SASS (.scss)
@import "mixins.scss";


/********************************
 *								*
 *		 	VARIABLES			* 
 *								*
 ********************************/
 
$rouge:  rgba(171, 62, 91, 1);
$bleu: rgba(44, 62, 80, 1);
$blanc: rgba(255, 255, 255, 1);
$noir: rgba(0, 0, 0, 1);
$orange: rgba(255, 190, 64, 1);
$jaune: rgba(253, 231, 180, 1);
$vert: rgba(179, 204, 87, 1);
$lime: rgba(236, 240, 129, 1);
$background:rgba($bleu, .05);
$gris:		rgba(205, 203, 202, 1);
$grisClair:	lighten($gris, 10%);
$grisMoyen: darken($gris, 15%);
$grisFonce: darken($gris, 50%);
$fonts1:	 'Roboto', Helvetica, Arial, sans-serif;
$fonts2:	 'Fira Sans', Helvetica, Arial, sans-serif;
$monospaced: 'Fira Mono', monospace;
$icons: 'fontello';



/********************************
 *								*
 *		  STYLES GÉNÉRAUX		* 
 *								*
 ********************************/

* {
	@include box-sizing();
	outline: none;
}

a {
	color: $bleu;
	text-decoration: underline;
	
	&:hover {
		color: $rouge;
		text-decoration: underline;
	}
	
	&.nostyle {
		color: inherit;
		text-decoration: none;
		
		&:hover {
			color: inherit;
			text-decoration: none;
		}
	}
	
	&.bouton {
    	display: block;
    	border: 1px solid $gris;
    	border-radius: .33em;
    	line-height: 2em;
    	margin: 1.5em auto;
    	padding: .33em 1em .1em;
    	text-align: center;
    	width: 200px;
	}
}

input,
textarea {
	display: block;
	background-color: transparent;
	border: 1px solid $gris;
	@include border-radius(.33em);
	color: $grisFonce;
	font-family: $fonts2;
	font-size: 1.25em;
	font-weight: 300;
	margin: 1em auto;
	padding: .33em .66em;
	text-align: center;
	
	&[type='submit'] {
		background-color: $rouge;
		border: none;
		color: $blanc;
		font-weight: 300;
		margin-top: 1.5em;
		text-align: center;
	}
}

ul {
	margin: 0;
	padding: 1em 15px;
}



/********************************
 *								*
 *		 	   BLOCS				* 
 *								*
 ********************************/

html, body, main {
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0;
	width: 100%;
}

body {
	font-family: $fonts2;
	font-size: 14px;
	padding-top: 50px;
	overflow-x: hidden;
}

h1 {
	color: $blanc;
	font-family: $fonts1;
	margin: 0 .5em;
	line-height: 40px;
	padding: 0;
}

h2 {
	border-bottom: 1px solid $rouge;
	color: $bleu;
	font-size: 1.33em;
	font-weight: 300;
	margin: 0 10px 1em 0;
	padding: .33em 0 0 1em;
	
	& > span {
		display: block;
		font-weight: 300;
		line-height: 1.25em;
		
		&:last-of-type {
			font-weight: 500;
			padding-bottom: .33em;
		}
	}
}

pre {
	display: block;
	background-color: lighten($rouge, 33%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	@include background-size(3em 3em);
	border: 5px solid lighten($rouge, 10%);
	color: $noir;
	font-family: $monospaced;
	font-size: 1.1em;
	line-height: 1.5em;
	margin: 3em;
	overflow: hidden;
	padding: 1.5em;
	padding-top: 1.55em;
	text-align: left;
	white-space: normal;
	width: auto;
	
	&.nowrap {
		white-space: pre;
	}
	
	span {
		display: block;
		padding-left: 2em;
		
		&.wrap {
			white-space: normal;
		}
	}
}

strong {
	color: $rouge;
	font-weight: 500;
		
	&.gros {
		display: inline-block;
		color: $bleu;
		letter-spacing: .025em;
		margin: 0 .15em;
	}
}

ul#actions {
	display: table;
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	table-layout: fixed;
	width: 100%;
	
	& > li {
		display: table-row;
		width: 100%;
		
		& > a {
			display: table-cell;
			color: $bleu;
			text-align: center;
			text-decoration: none;
			vertical-align: middle;
			
			& > span {
				display: block;
				background-color: $bleu;
				@include border-radius(.5em);
				@include shadow(0, 4px, 0, $gris);
				color: $blanc;
				font-family: $icons;
				font-size: 40px;
				height: 75px;
				line-height: 75px;
				margin: 0 auto;
				width: 75px;				
			}
			
			& > p {
				display: block;
				font-size: 1.4em;
			}
		}
	}
}

ul.listeMissions {
	font-size: 1.2em;
	list-style: none;
	margin: 0 auto;
	padding: 0 1em;
	
	li {
		position: relative;
		display: block;
		margin: 1.5em auto;
		padding: 0 0 0 50px;
		
		&::before {
			position: absolute; top: 0; top: calc(50% - 20px); left: -3px;
			display: block;
			background-color: $jaune;
			@include border-radius(50%);
			color: $rouge;
			content: '\e843';
			font-family: $icons;
			font-size: 23px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			width: 40px;
		}
		
		&.vide::before {
			background-color: $grisClair;
			color: $grisFonce;
			content: '\e917';
		}
		
		&.rue::before { content: '\e841'; }
		&.immeuble::before { content: '\e842'; }
		
		h4 {
			font-size: 1em;
			font-weight: 500;
			margin: 0;
			padding: 0;
		}
		
		p {
			margin: 0;
			padding: 0;
		}
	}
}

ul.listeImmeubles {
	font-size: 1.2em;
	list-style: none;
	margin: 0 auto;
	padding: 0 1em;
	
	li {
		position: relative;
		display: block;
		margin: 1.5em auto;
		padding: 0 .5em;
		
		& > span {
			display: inline-block;
			background-color: lighten($bleu, 5%);
			@include border-radius(.33em);
			color: $blanc;
			font-size: 1.1em;
			line-height: 1.66em;
			min-width: 50px;
			margin: 0 .25em;
			padding: 0 .5em;
			text-align: center;
		}
	}	
}

ul.listeEncadree {
	font-size: 1.2em;
	list-style: none;
	
	&.seul {
		margin: 0 5%;
	}
	
	& > a {
		color: inherit;
		text-decoration: none;
	}
	
	li {
		display: block;
		border: 1px solid $rouge;
		@include border-radius(.5em);
		font-size: 1em;
		font-weight: 300;
		margin: 0;
		margin-bottom: .5em;
		min-height: 50px;
		padding: .5em 1em;
		width: 100%;
		@include transition(all);
		
		&.cursor {
			cursor: pointer;
		}
		
		&.coordonnees::after {
			position: absolute; top: 0em; top: calc(50% - 25px); right: 1em;
			display: block;
			color: rgba($rouge, .5);
			content: '\e840';
			font-family: $icons;
			font-size: 30px;
			height: 50px;
			line-height: 50px;
			@include transition(all);
		}
		
		&.coordonnees:hover::after {
			color: rgba($rouge, .85);
		}
						
		&.fichier,
		&.dossier,
		&.ville,
		&.rue,
		&.immeuble,
		&.electeur,
		&.bureau,
		&.vide,
		&.canton,
		&.numero,
		&.email,
		&.interaction,
		&.sms,
		&.tache,
		&.poste {
			position: relative;
			padding-left: 60px;
			padding-top: .7em;
			
			&.ajoutFichier,
			&.ajoutDossier,
			&.ajoutRue,
			&.ajoutImmeuble,
			&.ajoutTache {
				border-color: $bleu;
				color: $bleu;
				
				&::before {
					border-color: $bleu;
					color: $bleu;
				}
				
				&:hover {
					background-color: rgba($bleu, .05);
					
					&::before {
						background-color: $bleu;
						color: $blanc;
					}
					
					strong { border-bottom-color: $bleu; }
				}
				
				strong { color: $bleu; }
			}
			
			&::before {
				position: absolute; left: 10px; top: .66em; top: calc(50% - 15px);
				border: 1px solid $rouge;
				@include border-radius(50%);
				color: $rouge;
				content: '\e823';
				font-family: $icons;
				font-size: 17px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				width: 30px;
				@include transition(all);
			}
			
			&.pdf::before { content: '\e823'; }
			&.texte::before { content: '\e837'; }
			&.tableur::before { content: '\e8fd'; }
			&.presentation::before { content: '\e8f4'; }
			&.image::before { content: '\e80e'; }
			&.video::before { content: '\e903'; }
			&.audio::before { content: '\e800'; }
			&.archive::before { content: '\e908'; }
			&.ajoutFichier::before { content: '\e822'; }
			&.poste::before { content: '\e8ef'; }
			
			& > strong {
				line-height: 30px;
			}
			
			& > p {
				margin: 0;
				padding-bottom: .5em;
				
				&.tailleNormale {
					font-size: .85em;
				}
			}
		}
		
		&.vide { pointer-events: none; }
		
		&.ville::before { content: '\e844'; }
		&.rue::before { content: '\e841'; }
		&.immeuble::before { content: '\e842'; }
		&.dossier::before { content: '\e850'; }
		&.ajoutDossier::before { content: '\e851'; }
		&.electeur::before { content: '\e80a'; }
		&.bureau::before { content: '\e821'; }
		&.canton::before { content: '\e843'; }
		&.vide::before { content: '\e81e'; }
		&.numero::before { content: '\e8e4'; }
		&.email::before { content: '\e805'; }
		&.interaction::before { content: '\e83c'; }
		&.sms::before { content: '\e8e4'; }
		&.tache::before { content: '\e837'; }
		
		&:hover {
			background-color: rgba($rouge, .05);
			
			&::before {
				background-color: $rouge;
				color: $blanc;
			}
			
			&.tache::before {
				content: '\e813';
				font-size: 1.1em;
			}
			
			&.ajoutTache::before {
				content: '\e837';
			}
		
			& > strong {
				border-bottom: 1px solid $rouge;
				@include bordure-fine();
			}
		}
		
		&.choisi {
			background-color: rgba($vert, .33) !important;
			
			&:hover {
				background-color: rgba($vert, .5) !important;
			}
		}
		
		&.fait {
			background-color: $blanc;
			border-color: $bleu;
			color: $bleu !important;
			cursor: default;
			
			&::before {	
				border-color: $bleu;
				color: $bleu;
				content: '\e812';
			}
			
			&:hover {
				&::before {
					background-color: $blanc;
					color: $bleu !important;
				}
			
				strong {
					border-bottom: none;
				}
			}
			
			strong {
				color: $bleu;
			}
		}
		
		p {
			font-size: .75em;
			font-weight: 300;
			line-height: 1.3em;
		}
	}
}




/********************************
 *								*
 *		  IMPORTS DIVERS	 		* 
 *								*
 ********************************/
 
// fichier dédié au style du header
@import "header.scss";

// fichier dédié au style du formulaire de login
@import "login.scss";

// fichier dédié au style des fiches contact
@import "fiche.scss";

// fichier dédié au style des formulaires
@import "forms.scss";