@charset "UTF-8";

/*
 *
 *	Feuille de style principale du service en ligne LeQG
 *	développé par Damien Senger ( www.damiensenger.me )
 *	au sein de la société MSG SAS
 *
 */

// imports CSS hors SASS (.css)
@import "fontello.css";
@import "fonts.css";
@import "keyframes.css";

// imports SASS (.scss)
@import "mixins.scss";


/********************************
 *								*
 *		 	VARIABLES			* 
 *								*
 ********************************/
 
$rouge:  rgba(171, 62, 91, 1);
$bleu: rgba(44, 62, 80, 1);
$blanc: rgba(255, 255, 255, 1);
$noir: rgba(0, 0, 0, 1);
$orange: rgba(255, 190, 64, 1);
$jaune: rgba(253, 231, 180, 1);
$vert: rgba(179, 204, 87, 1);
$lime: rgba(236, 240, 129, 1);
$gris: rgba(205, 203, 202, 1);
$grisMoyen: darken($gris, 15%);
$grisFonce: darken($gris, 50%);
$fonts1:	 'Roboto', Helvetica, Arial, sans-serif;
$fonts2:	 'Fira Sans', Helvetica, Arial, sans-serif;
$monospaced: 'Fira Mono', monospace;
$icons: 'fontello';



/********************************
 *								*
 *		  STYLES GÉNÉRAUX		* 
 *								*
 ********************************/

* {
	@include box-sizing();
	outline: none;
}

a {
	color: $bleu;
	text-decoration: underline;
	
	&:hover {
		color: $rouge;
		text-decoration: underline;
	}
}

input {
	display: block;
	background-color: transparent;
	border: 0px;
	border-bottom: 1px solid $bleu;
	color: $grisFonce;
	font-family: $fonts2;
	font-size: 1.25em;
	font-weight: 300;
	margin: 1em auto;
	padding: .33em .66em;
	text-align: center;
	
	&[type='submit'] {
		border: 1px solid $bleu;
		cursor: pointer;
		@include border-radius(.33em);
		padding: .33em .66em;
	}
}



/********************************
 *								*
 *		 	   BLOCS				* 
 *								*
 ********************************/

html, body, main {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	font-family: $fonts2;
	font-size: 14px;
	padding-top: 50px;
}

ul#actions {
	display: table;
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	table-layout: fixed;
	width: 100%;
	
	& > li {
		display: table-row;
		width: 100%;
		
		& > a {
			display: table-cell;
			color: $bleu;
			text-align: center;
			text-decoration: none;
			vertical-align: middle;
			
			& > span {
				display: block;
				background-color: $bleu;
				@include border-radius(.5em);
				color: $blanc;
				font-family: $icons;
				font-size: 40px;
				height: 75px;
				line-height: 75px;
				margin: 0 auto;
				width: 75px;				
			}
			
			& > p {
				display: block;
				font-size: 1.4em;
			}
		}
	}
}



/********************************
 *								*
 *		  IMPORTS DIVERS	 		* 
 *								*
 ********************************/
 
// fichier dédié au style du header
@import "header.scss";

// fichier dédié au style du formulaire de login
@import "login.scss";